IoT/Analyzing IoT Data/iot-asset-tracker-flows-pr.json
[
    {
        "id": "75de4850.c108d8",
        "type": "tab",
        "label": "Init Persishable Blockchain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d65ccd2e.05639",
        "type": "tab",
        "label": "Start Particle Electron",
        "disabled": false,
        "info": ""
    },
    {
        "id": "550ae82c.b9d568",
        "type": "tab",
        "label": "Particle Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c68d5d2.c51308",
        "type": "tab",
        "label": "Blockchain REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd95b1ac.1aa93",
        "type": "tab",
        "label": "Load Blockchain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2dd6df4d.6de8e",
        "type": "tab",
        "label": "IoT Asset Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e5ff6a3.20dcc8",
        "type": "tab",
        "label": "Track Asset History",
        "disabled": false
    },
    {
        "id": "b1b79c30.9b02a",
        "type": "tab",
        "label": "Medical Truck",
        "disabled": false,
        "info": ""
    },
    {
        "id": "deb0d57.1c46528",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "e1a5cda3.7ae7e",
        "type": "ui_group",
        "z": "",
        "name": "Start Particle Electron Geolocation",
        "tab": "55882715.3d2c38",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "55882715.3d2c38",
        "type": "ui_tab",
        "z": "",
        "name": "Start Particle Geolocation Reporting",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "6717eee.420e71",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80c9102a.f29b8",
        "type": "particle-cloud",
        "z": "",
        "host": "https://api.particle.io",
        "port": "443",
        "accesstoken": "5896a56d425077dd27a3c26ac4bae2509634b4ed",
        "name": "Particle"
    },
    {
        "id": "3fa1e877.7c7d08",
        "type": "ui_group",
        "z": "",
        "name": "Asset Visualization on a Map",
        "tab": "da81ed5a.d7e1d",
        "order": 3,
        "disp": true,
        "width": "10"
    },
    {
        "id": "fa317294.23814",
        "type": "ui_group",
        "z": "",
        "name": "Asset Tracking",
        "tab": "da81ed5a.d7e1d",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5ededec0.302df",
        "type": "ui_group",
        "z": "",
        "name": "Geo Coordinate Location Data",
        "tab": "da81ed5a.d7e1d",
        "order": 3,
        "disp": true,
        "width": "11"
    },
    {
        "id": "a659a87f.bf0658",
        "type": "twilio-api",
        "z": "",
        "sid": "AC6fa94065c9c6f8409f1605fc717842d1",
        "from": "5153466070",
        "name": ""
    },
    {
        "id": "da81ed5a.d7e1d",
        "type": "ui_tab",
        "z": "",
        "name": "Developer View of IoT Asset Tracking using BlockChain ",
        "icon": "dashboard"
    },
    {
        "id": "d1f5ff2b.ce54c",
        "type": "ui_group",
        "z": "",
        "name": "Query Particle Electron",
        "tab": "55882715.3d2c38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6d9bd86.3d55",
        "type": "cloudant",
        "z": "",
        "host": "90eb850d-e890-423b-9766-fb940be00068-bluemix.cloudant.com",
        "name": ""
    },
    {
        "id": "3e77d543.c1882a",
        "type": "ibmiot in",
        "z": "deb0d57.1c46528",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT App In",
        "service": "registered",
        "allDevices": false,
        "allApplications": false,
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "ae0082ac.51ff8",
                "c0c482df.3f3b8"
            ]
        ]
    },
    {
        "id": "ae0082ac.51ff8",
        "type": "function",
        "z": "deb0d57.1c46528",
        "name": "temp",
        "func": "return {payload:msg.payload.d.temp};",
        "outputs": 1,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "ff6ad0d9.00953"
            ]
        ]
    },
    {
        "id": "ff6ad0d9.00953",
        "type": "switch",
        "z": "deb0d57.1c46528",
        "name": "temp thresh",
        "property": "payload",
        "rules": [
            {
                "t": "lte",
                "v": 40,
                "v2": null
            },
            {
                "t": "gt",
                "v": 40,
                "v2": null
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "80621eff.7f9de"
            ],
            [
                "8e1706a.f71e8f8"
            ]
        ]
    },
    {
        "id": "5dad02b7.a252fc",
        "type": "debug",
        "z": "deb0d57.1c46528",
        "name": "cpu status",
        "active": true,
        "complete": "false",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "c0c482df.3f3b8",
        "type": "debug",
        "z": "deb0d57.1c46528",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 310,
        "y": 480,
        "wires": []
    },
    {
        "id": "80621eff.7f9de",
        "type": "template",
        "z": "deb0d57.1c46528",
        "name": "safe",
        "template": "Temperature ({{payload}}) within safe limits",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "5dad02b7.a252fc"
            ]
        ]
    },
    {
        "id": "8e1706a.f71e8f8",
        "type": "template",
        "z": "deb0d57.1c46528",
        "name": "danger",
        "template": "Temperature ({{payload}}) critical",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "5dad02b7.a252fc"
            ]
        ]
    },
    {
        "id": "cbe1a0b7.cd877",
        "type": "ibmiot out",
        "z": "deb0d57.1c46528",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "LivingRoomThermo1",
        "deviceType": "thermostat",
        "eventCommandType": "update",
        "format": "json",
        "data": "temp:10",
        "name": "Send to IBM IoT Platform",
        "service": "registered",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "5917a925.6a3c08",
        "type": "inject",
        "z": "deb0d57.1c46528",
        "name": "Send Data",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "6b4a591c.014b18"
            ]
        ]
    },
    {
        "id": "6b4a591c.014b18",
        "type": "function",
        "z": "deb0d57.1c46528",
        "name": "Device payload",
        "func": "// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "cbe1a0b7.cd877",
                "805c97ee.3ed9e8"
            ]
        ]
    },
    {
        "id": "805c97ee.3ed9e8",
        "type": "debug",
        "z": "deb0d57.1c46528",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "86df0b6c.af90c8",
        "type": "comment",
        "z": "deb0d57.1c46528",
        "name": "Device Simulator",
        "info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "141b7c7.ad42a84",
        "type": "comment",
        "z": "deb0d57.1c46528",
        "name": "1. Configure target",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2dd8ed5.7dd7f",
        "type": "comment",
        "z": "deb0d57.1c46528",
        "name": "2. Click to send data",
        "info": "To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "7926c7b2.86d938",
        "type": "comment",
        "z": "deb0d57.1c46528",
        "name": "Temperature Monitor",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "188a5e87.e775a1",
        "type": "comment",
        "z": "deb0d57.1c46528",
        "name": "Configure source",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "acfdd361.828a6",
        "type": "http request",
        "z": "d65ccd2e.05639",
        "name": "Send POST request",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.particle.io/v1/devices/{{ParticleElectron}}/SetInterval?access_token={{ParticleAccessToken}}",
        "tls": "",
        "x": 830,
        "y": 100,
        "wires": [
            [
                "49611cdc.c358c4"
            ]
        ]
    },
    {
        "id": "49611cdc.c358c4",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "output/debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "529d546e.3486bc",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "On",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "dde301e0.a499d"
            ]
        ]
    },
    {
        "id": "dde301e0.a499d",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Start Reporting (60 Seconds)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "params=60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "f2adc18f.2fe1c"
            ]
        ]
    },
    {
        "id": "447b2e8c.6506",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Stop Reporting (0 seconds)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "params=0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "f2adc18f.2fe1c"
            ]
        ]
    },
    {
        "id": "723da5d5.fe623c",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "Off",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "447b2e8c.6506"
            ]
        ]
    },
    {
        "id": "b6b560ee.8ccf3",
        "type": "comment",
        "z": "d65ccd2e.05639",
        "name": "You can also start Geolocation Reporting from the Particle Console",
        "info": "You can also start Geolocation Reporting from the Particle Console:\nhttps://console.particle.io/devices/<your particle device id>",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2a9a8d.a0fd058",
        "type": "ui_dropdown",
        "z": "d65ccd2e.05639",
        "name": "Select Asset Tracking Device",
        "label": "Select Asset Tracking Device (Particle Electron)",
        "place": "Select a Particle Electron",
        "group": "e1a5cda3.7ae7e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "283bbc33.a9b7f4",
                "9dc7247.449a7d8"
            ]
        ]
    },
    {
        "id": "b1378934.596ac8",
        "type": "ui_form",
        "z": "d65ccd2e.05639",
        "name": "",
        "label": "Enable this Asset Tracking Device",
        "group": "e1a5cda3.7ae7e",
        "order": 2,
        "width": "12",
        "height": "8",
        "options": [
            {
                "label": "Start Geolocation Reporting",
                "value": "EnableReporting",
                "type": "switch",
                "required": false
            },
            {
                "label": "Interval (default 60sec)",
                "value": "SetInterval",
                "type": "number",
                "required": false
            }
        ],
        "formValue": {
            "EnableReporting": false,
            "SetInterval": ""
        },
        "payload": "",
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "fd64f274.f5194"
            ]
        ]
    },
    {
        "id": "e22284a.9320278",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "Set Reporting Interval",
        "property": "payload.SetInterval",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "497c58f.c8430a8"
            ],
            [
                "2e4ca79c.147218"
            ]
        ]
    },
    {
        "id": "fd64f274.f5194",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "EnableReporting",
        "property": "payload.EnableReporting",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "e22284a.9320278"
            ],
            [
                "e0eecc1c.1c1d4"
            ]
        ]
    },
    {
        "id": "e0eecc1c.1c1d4",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Stop Reporting (0 seconds)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "params=0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "17f18012.ee194"
            ]
        ]
    },
    {
        "id": "2e4ca79c.147218",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Start Reporting (60 Sec)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "params=60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 260,
        "wires": [
            [
                "17f18012.ee194"
            ]
        ]
    },
    {
        "id": "497c58f.c8430a8",
        "type": "template",
        "z": "d65ccd2e.05639",
        "name": "Set Reporting Interval",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "params={{payload.SetInterval}}",
        "output": "str",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "17f18012.ee194"
            ]
        ]
    },
    {
        "id": "e40657d6.bfd528",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "Set Accel Threshold",
        "property": "payload.SetXYZThresh",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "d0b4c728.a0a328"
            ]
        ]
    },
    {
        "id": "17f18012.ee194",
        "type": "link out",
        "z": "d65ccd2e.05639",
        "name": "SetInterval",
        "links": [
            "e67dc866.814ae8"
        ],
        "x": 1075,
        "y": 320,
        "wires": []
    },
    {
        "id": "e67dc866.814ae8",
        "type": "link in",
        "z": "d65ccd2e.05639",
        "name": "",
        "links": [
            "17f18012.ee194"
        ],
        "x": 55,
        "y": 500,
        "wires": [
            [
                "726f193a.733808",
                "1cf156c5.789099"
            ]
        ]
    },
    {
        "id": "726f193a.733808",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 185,
        "y": 480,
        "wires": []
    },
    {
        "id": "f34f332b.025aa",
        "type": "http request",
        "z": "d65ccd2e.05639",
        "name": "Send POST request",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.particle.io/v1/devices/{{ParticleDeviceID}}/SetInterval?access_token={{ParticleAccessToken}}",
        "tls": "",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "d145636.2a8aaa",
                "e29e873.9f4ef78"
            ]
        ]
    },
    {
        "id": "d0b4c728.a0a328",
        "type": "template",
        "z": "d65ccd2e.05639",
        "name": "Set Accel Thresh",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "params={{payload.SetXYZThresh}}",
        "output": "str",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "bbd41ad1.69dca8"
            ]
        ]
    },
    {
        "id": "bbd41ad1.69dca8",
        "type": "link out",
        "z": "d65ccd2e.05639",
        "name": "SetXYZThresh",
        "links": [
            "c0d0abb.488b858"
        ],
        "x": 835,
        "y": 380,
        "wires": []
    },
    {
        "id": "c0d0abb.488b858",
        "type": "link in",
        "z": "d65ccd2e.05639",
        "name": "",
        "links": [
            "bbd41ad1.69dca8"
        ],
        "x": 55,
        "y": 660,
        "wires": [
            [
                "553eb862.3055b8",
                "a680bcf1.5b665"
            ]
        ]
    },
    {
        "id": "283bbc33.a9b7f4",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f5e9ce9.e7b01",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "553eb862.3055b8",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 185,
        "y": 640,
        "wires": []
    },
    {
        "id": "893a757c.67d2c8",
        "type": "http request",
        "z": "d65ccd2e.05639",
        "name": "Send POST request",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.particle.io/v1/devices/{{ParticleDeviceID}}/SetXYZThresh?access_token={{ParticleAccessToken}}",
        "tls": "",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "e29e873.9f4ef78",
                "d145636.2a8aaa"
            ]
        ]
    },
    {
        "id": "e29e873.9f4ef78",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "output/debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "68097c5a.fa88d4",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "3ff8eecf.0019f2",
        "type": "ui_form",
        "z": "d65ccd2e.05639",
        "name": "",
        "label": "Set Accelerometer Threshold",
        "group": "e1a5cda3.7ae7e",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Accelerometer Threshold",
                "value": "SetXYZThresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "SetXYZThresh": ""
        },
        "payload": "",
        "topic": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "e40657d6.bfd528"
            ]
        ]
    },
    {
        "id": "5b6aab07.2676d4",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "",
        "property": "payload.ok",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 770,
        "y": 600,
        "wires": [
            [
                "44292296.6e151c"
            ]
        ]
    },
    {
        "id": "7f5ea8ce.993068",
        "type": "ui_toast",
        "z": "d65ccd2e.05639",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "d145636.2a8aaa",
        "type": "json",
        "z": "d65ccd2e.05639",
        "name": "",
        "pretty": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "5b6aab07.2676d4"
            ]
        ]
    },
    {
        "id": "44292296.6e151c",
        "type": "template",
        "z": "d65ccd2e.05639",
        "name": "Error Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Error contacting device : {{payload.error}}",
        "output": "str",
        "x": 900,
        "y": 600,
        "wires": [
            [
                "7f5ea8ce.993068"
            ]
        ]
    },
    {
        "id": "18431640.d35a4a",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "GetCurrTemp",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 820,
        "wires": [
            [
                "8a445622.ae0068"
            ]
        ]
    },
    {
        "id": "3c9d9c92.529744",
        "type": "http request",
        "z": "d65ccd2e.05639",
        "name": "Send POST request",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.particle.io/v1/devices/{{ParticleDeviceID}}/GetCurrTemp?access_token={{ParticleAccessToken}}",
        "tls": "",
        "x": 510,
        "y": 820,
        "wires": [
            [
                "1dd5213a.be040f",
                "ef714068.6b4bd"
            ]
        ]
    },
    {
        "id": "f6d6dc31.2ddf8",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "1dd5213a.be040f",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "output/debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "f553e352.5b872",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "",
        "property": "payload.return_value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 830,
        "y": 840,
        "wires": [
            [
                "745b97b4.d7c9f8"
            ]
        ]
    },
    {
        "id": "9a442d89.5745f",
        "type": "ui_toast",
        "z": "d65ccd2e.05639",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ef714068.6b4bd",
        "type": "json",
        "z": "d65ccd2e.05639",
        "name": "",
        "pretty": false,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "f553e352.5b872",
                "5b6aab07.2676d4"
            ]
        ]
    },
    {
        "id": "745b97b4.d7c9f8",
        "type": "template",
        "z": "d65ccd2e.05639",
        "name": "Curr Temp Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The current temperature is : {{payload.return_value}}",
        "output": "str",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "9a442d89.5745f"
            ]
        ]
    },
    {
        "id": "29e4de66.79f362",
        "type": "ui_button",
        "z": "d65ccd2e.05639",
        "name": "",
        "group": "d1f5ff2b.ce54c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Current Temperature of Device",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "8a445622.ae0068"
            ]
        ]
    },
    {
        "id": "6d26fb68.309124",
        "type": "ui_button",
        "z": "d65ccd2e.05639",
        "name": "",
        "group": "d1f5ff2b.ce54c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Recent Accelerometer Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "811c9b59.a53648"
            ]
        ]
    },
    {
        "id": "a702a53f.af6c88",
        "type": "http request",
        "z": "d65ccd2e.05639",
        "name": "Send POST request",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.particle.io/v1/devices/{{ParticleDeviceID}}/GetRecentXYZ?access_token={{ParticleAccessToken}}",
        "tls": "",
        "x": 510,
        "y": 980,
        "wires": [
            [
                "13cddbb5.4ddde4",
                "1ad0dbb5.33bcc4"
            ]
        ]
    },
    {
        "id": "86cb1ee2.d1713",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 1020,
        "wires": []
    },
    {
        "id": "13cddbb5.4ddde4",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "output/debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "ace61d3d.9fb15",
        "type": "switch",
        "z": "d65ccd2e.05639",
        "name": "",
        "property": "payload.return_value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 830,
        "y": 1000,
        "wires": [
            [
                "ab4919af.fedfa8"
            ]
        ]
    },
    {
        "id": "13ad48fc.6aead7",
        "type": "ui_toast",
        "z": "d65ccd2e.05639",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad0dbb5.33bcc4",
        "type": "json",
        "z": "d65ccd2e.05639",
        "name": "",
        "pretty": false,
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "ace61d3d.9fb15",
                "5b6aab07.2676d4"
            ]
        ]
    },
    {
        "id": "ab4919af.fedfa8",
        "type": "template",
        "z": "d65ccd2e.05639",
        "name": "Recent XYZ  Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Recent Accelerometer data : {{payload.return_value}}",
        "output": "str",
        "x": 980,
        "y": 1000,
        "wires": [
            [
                "13ad48fc.6aead7"
            ]
        ]
    },
    {
        "id": "217fb3cd.ac48dc",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "Recent XYZ",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 980,
        "wires": [
            [
                "811c9b59.a53648"
            ]
        ]
    },
    {
        "id": "1a6d75d6.3c05fa",
        "type": "ParticleSSE in",
        "z": "550ae82c.b9d568",
        "baseurl": "80c9102a.f29b8",
        "evtname": "deviceLocator",
        "devid": "45002c001947373333353132",
        "consolelog": true,
        "x": 889.7142639160156,
        "y": 127.42856979370117,
        "wires": [
            [
                "62231926.90b8b8",
                "668f6c46.f6f2c4"
            ]
        ]
    },
    {
        "id": "62231926.90b8b8",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "Data Arriving",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1286.3809509277344,
        "y": 127.42857265472412,
        "wires": []
    },
    {
        "id": "bc81ad2e.02ef6",
        "type": "ParticleSSE in",
        "z": "550ae82c.b9d568",
        "baseurl": "80c9102a.f29b8",
        "evtname": "hook-response/deviceLocator/45002c001947373333353132/0",
        "devid": "45002c001947373333353132",
        "consolelog": false,
        "x": 409.7142333984375,
        "y": 663.1428699493408,
        "wires": [
            [
                "96921cb6.57d18",
                "5bbdc4fd.597cec"
            ]
        ]
    },
    {
        "id": "96921cb6.57d18",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 839.7142639160156,
        "y": 687.4285697937012,
        "wires": []
    },
    {
        "id": "5bbdc4fd.597cec",
        "type": "function",
        "z": "550ae82c.b9d568",
        "name": "Split GeoLocation string",
        "func": "// Split \"40.9837518,-74.11384330000001,1057\" at the ,\nvar geolocation = msg.payload.split(\",\");\n// Split \"hook-response/deviceLocator/<Particle device ID>/0\"\nvar ParticleID = msg.evtname.split(\"/\");\nParticleID[2]=\"2\"+ParticleID[2];\n// Create a JSON object to store in the database\nmsg.payload = { \"AssetID\": ParticleID[2],\n                \"gps\":{\"lat\":geolocation[0],\"lon\":geolocation[1]},\n                \"uncertaintyradius\":geolocation[2],\n                \"timestamp\" : Date.now()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 899.7142639160156,
        "y": 647.4285697937012,
        "wires": [
            [
                "7bf2930e.c77a9c"
            ]
        ]
    },
    {
        "id": "7bf2930e.c77a9c",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1119.7142639160156,
        "y": 647.4285697937012,
        "wires": []
    },
    {
        "id": "2c9523db.cf70ac",
        "type": "rbe",
        "z": "550ae82c.b9d568",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1109.7142639160156,
        "y": 307.4285697937012,
        "wires": [
            [
                "5868f320.e341ec"
            ]
        ]
    },
    {
        "id": "2653110e.a64dfe",
        "type": "comment",
        "z": "550ae82c.b9d568",
        "name": "Particle Board is Active",
        "info": "",
        "x": 799.7142639160156,
        "y": 87.42856979370117,
        "wires": []
    },
    {
        "id": "94e2e549.2d3d78",
        "type": "comment",
        "z": "550ae82c.b9d568",
        "name": "Particle Board received response from Google Location API",
        "info": "",
        "x": 909.7142639160156,
        "y": 607.4285697937012,
        "wires": []
    },
    {
        "id": "2e3f4281.56939e",
        "type": "comment",
        "z": "550ae82c.b9d568",
        "name": "Only record location when Particle Board moves",
        "info": "",
        "x": 1299.7142639160156,
        "y": 227.42856979370117,
        "wires": []
    },
    {
        "id": "353bd0bb.5feb2",
        "type": "ParticleSSE in",
        "z": "550ae82c.b9d568",
        "baseurl": "80c9102a.f29b8",
        "evtname": "AssetTrackerTemperatureEvent",
        "devid": "45002c001947373333353132",
        "consolelog": false,
        "x": 326.85711669921875,
        "y": 487.42855644226074,
        "wires": [
            [
                "343dad16.b521a2",
                "c8e0a32.ef8266"
            ]
        ]
    },
    {
        "id": "d45ff917.5b0618",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "Temperature Reading",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 879.7142639160156,
        "y": 507.4285697937012,
        "wires": []
    },
    {
        "id": "796b4fa4.fda89",
        "type": "ParticleSSE in",
        "z": "550ae82c.b9d568",
        "baseurl": "80c9102a.f29b8",
        "evtname": "AssetTrackerAccelerationEvent",
        "devid": "45002c001947373333353132",
        "consolelog": false,
        "x": 329.7142639160156,
        "y": 247.42857456207275,
        "wires": [
            [
                "862ee0af.766ee",
                "c8e0a32.ef8266"
            ]
        ]
    },
    {
        "id": "c6a1bbcc.ab9e98",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "Excessive Acceleration Detected",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 909.7142639160156,
        "y": 227.42856979370117,
        "wires": []
    },
    {
        "id": "862ee0af.766ee",
        "type": "json",
        "z": "550ae82c.b9d568",
        "name": "",
        "pretty": false,
        "x": 689.7142639160156,
        "y": 247.42856979370117,
        "wires": [
            [
                "c6a1bbcc.ab9e98",
                "49ac2ed5.82ff8"
            ]
        ]
    },
    {
        "id": "343dad16.b521a2",
        "type": "json",
        "z": "550ae82c.b9d568",
        "name": "",
        "pretty": false,
        "x": 689.7142639160156,
        "y": 487.4285697937012,
        "wires": [
            [
                "d45ff917.5b0618",
                "324d39de.ca4106"
            ]
        ]
    },
    {
        "id": "c8e0a32.ef8266",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 689.7142639160156,
        "y": 367.4285697937012,
        "wires": []
    },
    {
        "id": "49ac2ed5.82ff8",
        "type": "function",
        "z": "550ae82c.b9d568",
        "name": "Format Accel Event Record",
        "func": "// this was a GetRecentXYZ query, no GPS data\nif( typeof msg.payload.gps === 'undefined') {\n    return null ;\n}\n// Create a JSON object to store in the database\nmsg.blockchaindata = { \"AssetID\": msg.id,\n                \"Accel\":msg.payload.Accel,\n                \"gps\":msg.payload.gps,\n                \"timestamp\" : msg.published_at\n};\n// If the asset didn't move, don't write temp data to the blockchain.\nmsg.payload = msg.payload.gps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 899.7142639160156,
        "y": 267.4285697937012,
        "wires": [
            [
                "3406ce4d.1a2a52",
                "2c9523db.cf70ac"
            ]
        ]
    },
    {
        "id": "324d39de.ca4106",
        "type": "function",
        "z": "550ae82c.b9d568",
        "name": "Format Temp Event Record",
        "func": "// this was a GetCurrTemp query, no GPS data\nif( typeof msg.payload.gps === 'undefined') {\n    return null ;\n}\n\n// Create a JSON object to store in the database\nmsg.blockchaindata = { \"AssetID\": msg.id,\n                \"Temperature\":msg.payload.Temp,\n                \"gps\":msg.payload.gps,\n                \"timestamp\" : msg.published_at\n};\n\n// If the asset didn't move, don't write temp data to the blockchain.\nmsg.payload = msg.payload.gps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 899.7142639160156,
        "y": 467.4285697937012,
        "wires": [
            [
                "500766f6.1e6588",
                "983311ce.7a354"
            ]
        ]
    },
    {
        "id": "500766f6.1e6588",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1129.7142639160156,
        "y": 467.4285697937012,
        "wires": []
    },
    {
        "id": "3406ce4d.1a2a52",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1129.7142639160156,
        "y": 267.4285697937012,
        "wires": []
    },
    {
        "id": "5868f320.e341ec",
        "type": "change",
        "z": "550ae82c.b9d568",
        "name": "Store Record",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "blockchaindata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1259.7142639160156,
        "y": 307.4285697937012,
        "wires": [
            [
                "4de6309c.3fa63",
                "a1100987.1c2b58"
            ]
        ]
    },
    {
        "id": "4de6309c.3fa63",
        "type": "debug",
        "z": "550ae82c.b9d568",
        "name": "BlockChain Data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1449.7142639160156,
        "y": 367.4285697937012,
        "wires": []
    },
    {
        "id": "f968c36.c13454",
        "type": "comment",
        "z": "550ae82c.b9d568",
        "name": "Example TemperatureReading",
        "info": "{\"AssetID\":\"long string of numbers\",\"Temperature\":{\"Celsius\":24.25,\"Fahrenheit\":75.650002},\"gps\":{\"lat\":40.973312,\"lon\":-74.092712,\"accuracy\":0},\"timestamp\":\"2018-02-14T14:49:08.132Z\"}",
        "x": 1149.7142639160156,
        "y": 507.4285697937012,
        "wires": []
    },
    {
        "id": "dd1e2a31.232fe8",
        "type": "link out",
        "z": "550ae82c.b9d568",
        "name": "AccelReading Arrived",
        "links": [
            "62d45b94.b2efe4"
        ],
        "x": 1554.7142639160156,
        "y": 307.4285697937012,
        "wires": []
    },
    {
        "id": "983311ce.7a354",
        "type": "rbe",
        "z": "550ae82c.b9d568",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1109.7142639160156,
        "y": 427.4285697937012,
        "wires": [
            [
                "92978ae5.a7dd88"
            ]
        ]
    },
    {
        "id": "92978ae5.a7dd88",
        "type": "change",
        "z": "550ae82c.b9d568",
        "name": "Store Record",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "blockchaindata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1259.7142639160156,
        "y": 427.4285697937012,
        "wires": [
            [
                "d7b3c8c0.318468",
                "4de6309c.3fa63"
            ]
        ]
    },
    {
        "id": "d7b3c8c0.318468",
        "type": "link out",
        "z": "550ae82c.b9d568",
        "name": "TemperatureReading Arrived",
        "links": [
            "a5fea92f.a7b778"
        ],
        "x": 1394.7142639160156,
        "y": 427.4285697937012,
        "wires": []
    },
    {
        "id": "7e2db469.1ec8ac",
        "type": "inject",
        "z": "550ae82c.b9d568",
        "name": "Reset RBE GPS Data",
        "topic": "",
        "payload": "{\"lat\":41.972904,\"lon\":-75.092216,\"accuracy\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 979.7142639160156,
        "y": 367.4285697937012,
        "wires": [
            [
                "2c9523db.cf70ac",
                "983311ce.7a354"
            ]
        ]
    },
    {
        "id": "a0299408.429078",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain Asset response",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "5835de89.3d80c",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "Particle Electron Asset Tracker",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "dc75df42.e4ca5",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "hyperledger - Create Persishable Demo",
        "method": "POST",
        "ret": "obj",
        "url": "http://{{FabricIP}}:31090/api/SetupDemo",
        "tls": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "a0299408.429078"
            ]
        ]
    },
    {
        "id": "11a5b629.99657a",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "One Time Setup to create the Blockchain Demo",
        "info": "Remember to edit the Blockchain Model chaincode (logic.js) \nIn the setupDemo() function, insert your Particle Device ID\nas the Shipment ID",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "736d768c.dbb8d8",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "Create a TemperatureReading Transaction",
        "info": "",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "6be2cc0.5e64e34",
        "type": "inject",
        "z": "8c68d5d2.c51308",
        "name": "Sample Temp Data",
        "topic": "",
        "payload": "{\"AssetID\":\"45002c001947373333353132\",\"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:06:41.178Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "e21aa31d.49a9a"
            ]
        ]
    },
    {
        "id": "e21aa31d.49a9a",
        "type": "function",
        "z": "8c68d5d2.c51308",
        "name": "Build a TemperatureReading Transaction",
        "func": "// A TemperatureReading Blockchain transaction looks like this:\n//      {\n//      \"$class\": \"org.acme.shipping.perishable.TemperatureReading\",\n//      \"celsius\": 0,\n//      \"latitude\": \"string\",\n//      \"longitude\": \"string\",\n//      \"readingTime\": \"string\",\n//      \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//      }\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent which looks like this:\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n\nmsg.payload = {\n  \"$class\"     : \"org.acme.shipping.perishable.TemperatureReading\",\n  \"celsius\"    : msg.payload.Temperature.Celsius,\n  \"readingTime\": msg.payload.timestamp,\n  \"latitude\"   : msg.payload.gps.lat.toString(),\n  \"longitude\"  : msg.payload.gps.lon.toString(),\n  \"shipment\"   : \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nTempReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/TemperatureReading?data=\"+TempReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "2aacc0cb.a6ec6",
                "7356e14e.b6995"
            ]
        ]
    },
    {
        "id": "7356e14e.b6995",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain POST TemperatureReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "37311902.75c336"
            ]
        ]
    },
    {
        "id": "2aacc0cb.a6ec6",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "37311902.75c336",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "1e781fdc.0b2fa",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "Create a AccelReading Transaction",
        "info": "",
        "x": 300,
        "y": 500,
        "wires": []
    },
    {
        "id": "693c4cfc.9cdcf4",
        "type": "inject",
        "z": "8c68d5d2.c51308",
        "name": "Sample Accel Data",
        "topic": "",
        "payload": "{\"AssetID\":\"45002c001947373333353132\",\"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:16:44.284Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "8ba0a086.48c97"
            ]
        ]
    },
    {
        "id": "8ba0a086.48c97",
        "type": "function",
        "z": "8c68d5d2.c51308",
        "name": "Build a AccelReading Transaction",
        "func": "// An AccelReading Blockchain transaction looks like this:\n//   {\n//   \"$class\": \"org.acme.shipping.perishable.AccelReading\",\n//   \"accel_x\": 0,\n//   \"accel_y\": 0,\n//   \"accel_z\": 0,\n//   \"latitude\": \"string\",\n//   \"longitude\": \"string\",\n//   \"readingTime\": \"string\",\n//   \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//   }\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerAccelerationEvent which looks like this:\n// Example:\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:16:44.284Z\"}\n\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\nmsg.payload = {\n    \"$class\"     : \"org.acme.shipping.perishable.AccelReading\",\n    \"accel_x\"    : msg.payload.Accel.x,\n    \"accel_y\"    : msg.payload.Accel.y,\n    \"accel_z\"    : msg.payload.Accel.z,\n    \"readingTime\": msg.payload.timestamp,\n    \"latitude\"   : msg.payload.gps.lat.toString(),\n    \"longitude\"  : msg.payload.gps.lon.toString(),\n    \"shipment\"   : \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nAccelReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/AccelReading?data=\"+AccelReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "37a841e3.0a6c1e",
                "4e11a3a8.24d34c"
            ]
        ]
    },
    {
        "id": "4e11a3a8.24d34c",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain POST AccelReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "277b7a78.e6b7a6"
            ]
        ]
    },
    {
        "id": "37a841e3.0a6c1e",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "277b7a78.e6b7a6",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "8ff62a35.de7ce8",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "Create a GpsReading Transaction - Not used",
        "info": "",
        "x": 330,
        "y": 780,
        "wires": []
    },
    {
        "id": "34df92b1.eb3ebe",
        "type": "inject",
        "z": "8c68d5d2.c51308",
        "name": "Sample GPS Data",
        "topic": "",
        "payload": "{\"AssetID\":\"45002c001947373333353132\",\"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:06:41.178Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "2347d906.68b016"
            ]
        ]
    },
    {
        "id": "2347d906.68b016",
        "type": "function",
        "z": "8c68d5d2.c51308",
        "name": "Build a GpsReading Transaction",
        "func": "// A GpsReading transaction looks like this:\n//   {\n//   \"$class\": \"org.acme.shipping.perishable.GpsReading\",\n//   \"readingTime\": \"\",\n//   \"readingDate\": \"\",\n//   \"latitude\": \"\",\n//   \"latitudeDir\": \"N\",\n//   \"longitude\": \"\",\n//   \"longitudeDir\": \"N\",\n//   \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//    }\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent or AssetTrackerAccelerationEvent\n// The msg.payload will look like this:\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n//\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:16:44.284Z\"}\n\n// Not certain why the Perishable Model splits the readingTime and readingDate. \n// That's useless, just store the timestamp (which is preserved in readingTime)\n// The model validation won't allow a blank readingDate so construct the properly formatted date here\nvar msec = Date.parse(msg.payload.timestamp);\nvar d = new Date(msec);\nvar ReadingDate = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\nmsg.payload = {\n  \"$class\": \"org.acme.shipping.perishable.GpsReading\",\n  \"readingTime\": msg.payload.timestamp,\n  \"readingDate\": ReadingDate,\n  \"latitude\": msg.payload.gps.lat.toString(),\n  \"latitudeDir\": \"N\",\n  \"longitude\": msg.payload.gps.lon.toString(),\n  \"longitudeDir\": \"N\",\n  \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nGpsReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/GpsReading?data=\"+GpsReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 820,
        "wires": [
            [
                "6accd01b.9bfcb",
                "ddccdda1.d42f"
            ]
        ]
    },
    {
        "id": "ddccdda1.d42f",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain POST GpsReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 810,
        "y": 820,
        "wires": [
            [
                "8a3f8ff5.71268"
            ]
        ]
    },
    {
        "id": "6accd01b.9bfcb",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "8a3f8ff5.71268",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "a5fea92f.a7b778",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "New TempeatureReading",
        "links": [
            "328eae91.ddbdca",
            "b15c717d.75c89",
            "724c42c6.6475d4",
            "d7b3c8c0.318468",
            "57699e62.9a2bd8",
            "93a9f486.5bcc38"
        ],
        "x": 175,
        "y": 260,
        "wires": [
            [
                "e21aa31d.49a9a"
            ]
        ]
    },
    {
        "id": "62d45b94.b2efe4",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "New AccelReading",
        "links": [
            "eb81c490.807ae8",
            "5c47d0e0.70889",
            "67e5758e.cc2024",
            "dd1e2a31.232fe8",
            "873040ce.e27398",
            "4c6a4883.cddc48"
        ],
        "x": 175,
        "y": 540,
        "wires": [
            [
                "8ba0a086.48c97"
            ]
        ]
    },
    {
        "id": "5e801530.67eb8c",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "New GPS Reading",
        "links": [
            "6547d49d.d5662c",
            "ae371ce3.1d6f18"
        ],
        "x": 175,
        "y": 820,
        "wires": [
            [
                "2347d906.68b016"
            ]
        ]
    },
    {
        "id": "8a3994e3.a9e648",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "Query the list of TemperatureReading Transactions",
        "info": "",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "edd47689.cf83e8",
        "type": "inject",
        "z": "8c68d5d2.c51308",
        "name": "Query Temp Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "557a1029.2351d"
            ]
        ]
    },
    {
        "id": "86adde7b.f38f4",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "c7cb4fde.5cda3",
        "type": "comment",
        "z": "8c68d5d2.c51308",
        "name": "Query the list of AccelReading Transactions",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "7dd2d663.9233f8",
        "type": "inject",
        "z": "8c68d5d2.c51308",
        "name": "Query Accel Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "a208f7e5.3f5a48"
            ]
        ]
    },
    {
        "id": "b12d5ff6.14ab3",
        "type": "debug",
        "z": "8c68d5d2.c51308",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "3301effe.8c22f",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "Query Blockchain Temp Transactions",
        "links": [
            "2fd969a1.7b1516"
        ],
        "x": 175,
        "y": 380,
        "wires": [
            [
                "557a1029.2351d"
            ]
        ]
    },
    {
        "id": "eb3820d4.e233f",
        "type": "link out",
        "z": "8c68d5d2.c51308",
        "name": "Return Blockchain Transactions",
        "links": [
            "b6d918be.ae353"
        ],
        "x": 1185,
        "y": 420,
        "wires": []
    },
    {
        "id": "fbb4c176.ad82c",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "Query Blockchain Accel Transactions",
        "links": [
            "f995dcaa.13004"
        ],
        "x": 175,
        "y": 660,
        "wires": [
            [
                "a208f7e5.3f5a48"
            ]
        ]
    },
    {
        "id": "dd56e660.ef6148",
        "type": "function",
        "z": "8c68d5d2.c51308",
        "name": "Refactor",
        "func": "// We want the table to contain this info:\n//  { \"AssetID\":\"<Particle Device ID>\",\n//    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n//    \"timestamp\":1518116923270,\n//    \"temperature\":4}\n//\n\n// The Blockchain has this info\n// {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n//  \"Accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n//  \"celsius\": 22.625\n//  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n//  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n//  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#<Particle Device ID>\",\n//  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n//  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n// Refactor the Blockchain data into a Array\nvar TrackerArray = [];\nvar transaction = {};\nvar AssetID;\nfor(i=0 ; i < msg.payload.length ;i++) {\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"temperature\":msg.payload[i].celsius\n    };\n    TrackerArray.push(transaction);\n}\nmsg.payload = TrackerArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "eb3820d4.e233f"
            ]
        ]
    },
    {
        "id": "c22b373b.dd6138",
        "type": "inject",
        "z": "fd95b1ac.1aa93",
        "name": "Reset Database load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "1f7e183.750f9e8"
            ]
        ]
    },
    {
        "id": "1f7e183.750f9e8",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "Set Global Vars",
        "rules": [
            {
                "t": "set",
                "p": "db-loaded",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "HyperLedgerFabricIP",
                "pt": "global",
                "to": "composer-rest-server-iot-asset-tracker-network.mybluemix.net",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ac297325.8e77a",
        "type": "comment",
        "z": "fd95b1ac.1aa93",
        "name": "Re-Read the Asset Database into Tracking Array",
        "info": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "8d5d652b.71ee88",
        "type": "debug",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "3e9818be.e24768",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "Save DB",
        "rules": [
            {
                "t": "set",
                "p": "AssetHistory",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "db-loaded",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "8d5d652b.71ee88"
            ]
        ]
    },
    {
        "id": "dd709aaa.8146b8",
        "type": "link in",
        "z": "fd95b1ac.1aa93",
        "name": "Load Tables from Blockchain",
        "links": [
            "318a7a4d.b952de",
            "7668a289.64547c"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "8062e4bf.1c8f68"
            ]
        ]
    },
    {
        "id": "370b9154.f5bcce",
        "type": "comment",
        "z": "fd95b1ac.1aa93",
        "name": "Read the Blockchain Temperature / GPS transactions into a array",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "32462826.cb5c88",
        "type": "comment",
        "z": "fd95b1ac.1aa93",
        "name": "Read the Blockchain Acceleration / GPS transactions into a array",
        "info": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "bcd2cd6d.30cf4",
        "type": "function",
        "z": "fd95b1ac.1aa93",
        "name": "Merge Asset Tracker Environmental Data",
        "func": "// Here we concantentate the temperature \n// and accelerometer environmental data \n// into a single array for map display purposes. \n\n// Potentially some overlap on GPS coordinates\n// if the Particle Electron Asset Tracker triggered\n// both events simultaneously.\n// At worst, the Dashboard map won't move for one sec.\n\nvar TemperatureAccelArray = flow.get(\"TemperatureData\");\n\n// There is likely to be fewer Accelerometer events (now loaded in msg.payload)\n// Let's merge msg.payload into TemperatureArray\n// There is a timestamp sort function later in the flow so \n// the array order doesn't really matter\nfor( i=0; i < msg.payload.length; i++ ) {\n\n    // We want the table to contain this info:\n    //  { \"AssetID\":\"<Particle Device ID>\",\n    //    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n    //    \"timestamp\":1518116923270,\n    //    \"accel\":{\"acc_x\":4000,\"acc_y\":5000,\"acc_z\":6000}}\n    //\n    \n    // The Blockchain AccelReading transaction list has this info\n    // {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n    //  \"accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n    //  \"celsius\": 22.625\n    //  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n    //  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n    //  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#<Particle Device ID>\",\n    //  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n    //  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n    // Refactor / Add the Blockchain AccelReading data into the Temperature Array\n    var transaction = {};\n    var AssetID;\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"accel\":{\"acc_x\":msg.payload[i].accel_x,\"acc_y\":msg.payload[i].accel_y,\"acc_z\":msg.payload[i].accel_z}\n    };\n    TemperatureAccelArray.push(transaction);\n}\n\nmsg.payload = TemperatureAccelArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "3e9818be.e24768"
            ]
        ]
    },
    {
        "id": "f2d28233.2b92b",
        "type": "inject",
        "z": "fd95b1ac.1aa93",
        "name": "Query Temp Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "7313c90c.da3298"
            ]
        ]
    },
    {
        "id": "47246823.deb218",
        "type": "http request",
        "z": "fd95b1ac.1aa93",
        "name": "Blockchain GET TemperatureReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}/api/TemperatureReading",
        "tls": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "abe19959.592748",
                "221a7163.30f9ae"
            ]
        ]
    },
    {
        "id": "221a7163.30f9ae",
        "type": "function",
        "z": "fd95b1ac.1aa93",
        "name": "Store Blockchain data into a new array",
        "func": "// We want the table to contain this info:\n//  { \"AssetID\":\"<Particle Device ID>\",\n//    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n//    \"timestamp\":1518116923270,\n//    \"temperature\":4}\n//\n\n// The Blockchain has this info\n// {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n//  \"Accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n//  \"celsius\": 22.625\n//  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n//  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n//  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#<particle Device ID>\",\n//  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n//  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n// Refactor the Blockchain data into a new array\nvar TrackerArray = [];\nvar transaction = {};\nvar AssetID;\nfor(i=0 ; i < msg.payload.length ;i++) {\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"temperature\":msg.payload[i].celsius\n    };\n    TrackerArray.push(transaction);\n}\nflow.set(\"TemperatureData\", TrackerArray);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285,
        "y": 375,
        "wires": [
            [
                "f9b0fdad.f78c5"
            ]
        ]
    },
    {
        "id": "abe19959.592748",
        "type": "debug",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "c83a207a.8e899",
        "type": "inject",
        "z": "fd95b1ac.1aa93",
        "name": "Query Accel Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "f9b0fdad.f78c5"
            ]
        ]
    },
    {
        "id": "df11db7f.faff68",
        "type": "http request",
        "z": "fd95b1ac.1aa93",
        "name": "Blockchain GET AccelReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}/api/AccelReading",
        "tls": "",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "56cb127b.94de2c",
                "bcd2cd6d.30cf4",
                "6652adc6.f64aa4"
            ]
        ]
    },
    {
        "id": "56cb127b.94de2c",
        "type": "debug",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "336b3381.67bbec",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "Pause while loading BlockChain Transactions",
        "rules": [
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "7313c90c.da3298"
            ]
        ]
    },
    {
        "id": "8062e4bf.1c8f68",
        "type": "switch",
        "z": "fd95b1ac.1aa93",
        "name": "BlockChain Loaded yet?",
        "property": "BlockchainLoaded",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "336b3381.67bbec"
            ]
        ]
    },
    {
        "id": "6652adc6.f64aa4",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vibrations",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a6385976.4e7548",
        "type": "ui_template",
        "z": "2dd6df4d.6de8e",
        "group": "3fa1e877.7c7d08",
        "name": "Embedded Map",
        "order": 0,
        "width": "10",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6ab9542a.f6c98c",
        "type": "template",
        "z": "2dd6df4d.6de8e",
        "name": "Add Map to Dashboard",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=515px width=490px></iframe>",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "a6385976.4e7548"
            ]
        ]
    },
    {
        "id": "b87b35e4.6d3d48",
        "type": "ui_dropdown",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "Select Truck Route",
        "place": "",
        "group": "fa317294.23814",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "fa624d93.c6298"
            ]
        ]
    },
    {
        "id": "714a27bf.40a748",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "Play Particle Electron Route",
        "label": "Track Truck Route",
        "group": "fa317294.23814",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 482,
        "wires": [
            [
                "f4047f8c.9c93"
            ]
        ]
    },
    {
        "id": "f4047f8c.9c93",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Enable / Disable Tracking Map",
        "rules": [
            {
                "t": "set",
                "p": "start-stop",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 482,
        "wires": [
            [
                "1c748ccf.1fd113"
            ]
        ]
    },
    {
        "id": "1c748ccf.1fd113",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 482,
        "wires": []
    },
    {
        "id": "8a19ee.c82a561",
        "type": "comment",
        "z": "2dd6df4d.6de8e",
        "name": "One time - Add Map to Dashboard",
        "info": "",
        "x": 190,
        "y": 82,
        "wires": []
    },
    {
        "id": "e38567fb.49a578",
        "type": "comment",
        "z": "2dd6df4d.6de8e",
        "name": "Select Asset and Date Range",
        "info": "",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "89df3711.417288",
        "type": "comment",
        "z": "2dd6df4d.6de8e",
        "name": "Play Asset Route",
        "info": "",
        "x": 100,
        "y": 482,
        "wires": []
    },
    {
        "id": "91408031.b377b",
        "type": "inject",
        "z": "2dd6df4d.6de8e",
        "name": "Init Dashboard",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "fd5fde4d.a6893",
                "b6773f0f.ac58a",
                "8c0112ff.63a8c",
                "7e1384d2.aa988c"
            ]
        ]
    },
    {
        "id": "fd5fde4d.a6893",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Asset IDs to be Tracked",
        "func": "msg.options = [ {\"Truck #1\":\"34301\"},\n                {\"Truck #2\":\"34302\"},\n                {\"Truck #3\":\"34303\"},\n                {\"Car #1\": global.get(\"ParticleDeviceID\") }\n              ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "b87b35e4.6d3d48"
            ]
        ]
    },
    {
        "id": "e68fa709.713bb8",
        "type": "ui_date_picker",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "Start Date",
        "group": "fa317294.23814",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "123a35c5.1de01a"
            ]
        ]
    },
    {
        "id": "6ecf9103.c8f34",
        "type": "ui_date_picker",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "End Date",
        "group": "fa317294.23814",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "f55798ce.c48cb8"
            ]
        ]
    },
    {
        "id": "53c47e71.45362",
        "type": "comment",
        "z": "2dd6df4d.6de8e",
        "name": "Select Date Range",
        "info": "",
        "x": 110,
        "y": 422,
        "wires": []
    },
    {
        "id": "a75cd274.109bc",
        "type": "ui_text",
        "z": "2dd6df4d.6de8e",
        "group": "fa317294.23814",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Blank text",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "x": 300,
        "y": 442,
        "wires": []
    },
    {
        "id": "fa624d93.c6298",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "KitNum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "28aadc08.6dc774",
                "499b8d33.a354e4"
            ]
        ]
    },
    {
        "id": "543a9606.be9ee8",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "89b73c1c.cbe55",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "abdfbae9.faa0b8",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "28aadc08.6dc774",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Reset Location",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "543a9606.be9ee8"
            ]
        ]
    },
    {
        "id": "a2848437.0fcc78",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "Where is Asset Now",
        "label": "Where is Asset Now",
        "group": "fa317294.23814",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "aebd8223.0c5e"
            ]
        ]
    },
    {
        "id": "aebd8223.0c5e",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Find it now!",
        "func": "if ( msg.payload === true ) {\n    msg.payload = false;\n    global.set(\"zoom\",true);\n    global.set(\"ZoomedAlready\", false);\n    return msg;\n} else {\n    global.set(\"zoom\",false);   \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "714a27bf.40a748",
                "1d4b6589.e0250a"
            ]
        ]
    },
    {
        "id": "b6773f0f.ac58a",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Start Date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1451624400000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "e68fa709.713bb8"
            ]
        ]
    },
    {
        "id": "8c0112ff.63a8c",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "End Date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1546300799000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6ecf9103.c8f34"
            ]
        ]
    },
    {
        "id": "7e1384d2.aa988c",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Inject /worldmap",
        "func": "msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        // Moscone Center\n//                        lat:37.7841772,\n//                        lon-122.403751\n                        // Puerto Rico\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:10,\n                        // map: {name:\"OSMhot\", url:u, opt:o},\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "6ab9542a.f6c98c"
            ]
        ]
    },
    {
        "id": "123a35c5.1de01a",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Start Time Range",
        "rules": [
            {
                "t": "set",
                "p": "start-time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "89b73c1c.cbe55"
            ]
        ]
    },
    {
        "id": "f55798ce.c48cb8",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "End Time Range",
        "rules": [
            {
                "t": "set",
                "p": "end-time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "abdfbae9.faa0b8"
            ]
        ]
    },
    {
        "id": "1d4b6589.e0250a",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "499b8d33.a354e4",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Build Table",
        "func": "var WhichKit=global.get(\"KitNum\");\n// Make certain that an Asset Kit has been selected from the drop down\nif (typeof WhichKit == 'undefined') {\n    return null;\n}\n\nvar AssetHistory = global.get(\"AssetHistory\");\nvar AssetTagLocations = [];\nvar starttime = global.get(\"start-time\");\nvar endtime = global.get(\"end-time\");\n\nfor(i = 0; i < AssetHistory.length; i++ ) {\n    if( AssetHistory[i].AssetID == WhichKit ) {\n        // Filter on the selected timestamp range\n        if( (AssetHistory[i].timestamp > starttime) && (AssetHistory[i].timestamp < endtime)) {\n            AssetTagLocations.push(AssetHistory[i]); \n        }\n    }\n}\n\n// Sort by timestamp\nAssetTagLocations.sort(function(x,y) {\n    return x.timestamp - y.timestamp;\n});\n\nvar current_location = global.get(\"location\")||0;\nmsg.payload=current_location;\n// Shorten the Device Asset string.\n// In the DB its a very long Particle Device ID\n// Call the last 5 as unique\nvar Device = WhichKit.substr(WhichKit.length - 5);\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"#asset table { width: 560px; margin-top: 10px; }\";\nmsg.template=msg.template+\"#asset tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"#asset th, #asset td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<table id=\\\"asset\\\" span=100%><tr><th>Device</th><th>Timestamp</th><th>Geo Location</th></tr>\";\nfor (var i = 0; i < AssetTagLocations.length; i++) {\n  var d = new Date(AssetTagLocations[i].timestamp);\n  if( i == current_location ) {\n    msg.template = msg.template + \"<tr style=\\\"color:white; background-color:black;\\\"><td>\"+Device+\"</td><td>\" + d.toLocaleDateString()+\" \"+d.toLocaleTimeString() + \"</td><td>\" + AssetTagLocations[i].gps.lat.substr(0,9)+\",\"+AssetTagLocations[i].gps.lon.substr(0,10) + \"</td></tr>\";\n  } else {\n//    msg.template = msg.template + \"<tr><td>\" + Device + \"</td><td>\" + d.getTime() + \"</td><td>\" + AssetTagLocations[i].gps.lat.substr(0,9)+\",\"+AssetTagLocations[i].gps.lon.substr(0,10) + \"</td></tr>\";\n    msg.template = msg.template + \"<tr><td>\" + Device + \"</td><td>\" + d.toLocaleDateString()+\" \"+d.toLocaleTimeString() + \"</td><td>\" + AssetTagLocations[i].gps.lat.substr(0,9)+\",\"+AssetTagLocations[i].gps.lon.substr(0,10) + \"</td></tr>\";\n  }\n}\nmsg.template = msg.template + \"</table>\";\nmsg.payload = AssetHistory;\nreturn msg ;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "1a2100b9.c2b94f",
                "cb20dac2.1ce9e8"
            ]
        ]
    },
    {
        "id": "cb20dac2.1ce9e8",
        "type": "ui_template",
        "z": "2dd6df4d.6de8e",
        "group": "5ededec0.302df",
        "name": "Location Table",
        "order": 0,
        "width": "11",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.template\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1020,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cbe0f29c.272cf",
        "type": "link in",
        "z": "2dd6df4d.6de8e",
        "name": "Table Highlight",
        "links": [
            "3ef8b710.42a89",
            "a31c5604.70e018"
        ],
        "x": 655,
        "y": 240,
        "wires": [
            [
                "499b8d33.a354e4"
            ]
        ]
    },
    {
        "id": "1a2100b9.c2b94f",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "template",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "e27ca554.807ea8",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "Show Geo Fence Zones",
        "group": "fa317294.23814",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "76b0fc4d.6d3b34"
            ]
        ]
    },
    {
        "id": "d96baa2e.91f598",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Draw GeoFence Zones",
        "func": "// If the payload contains an area property - that is an array of co-ordinates, e.g.\nvar Geofence = [\n[40.98221,-74.10203],\n[40.98037,-74.08866],\n[40.97198,-74.09075],\n[40.97611,-74.10416],\n[40.98221,-74.10203]\n];\n\n// Areas\n//    iconColor : can set the colour of the polygon or line.\n//    name : is used as the id key - so can be redrawn/moved.\n//    layer : declares which layer you put it on..\n//\n//Areas, Lines and Circles can also specify more optional properties:\n//    color\n//    fillColor\n//    stroke\n//    weight\n//    opacity\n//    fill\n//    fillOpacity\n//    clickable (if true sets the passed in name as Popup)\n\n\nmsg.payload = { area : Geofence,\n                fillColor : \"blue\",\n                name : \"home\",\n              };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "aab6c974.cf31b8"
            ]
        ]
    },
    {
        "id": "aab6c974.cf31b8",
        "type": "link out",
        "z": "2dd6df4d.6de8e",
        "name": "GeoFence Out",
        "links": [
            "7b19f5cc.b267fc"
        ],
        "x": 865,
        "y": 640,
        "wires": []
    },
    {
        "id": "76b0fc4d.6d3b34",
        "type": "switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "d96baa2e.91f598"
            ],
            [
                "5f834edc.c095b"
            ]
        ]
    },
    {
        "id": "5f834edc.c095b",
        "type": "function",
        "z": "2dd6df4d.6de8e",
        "name": "Erase GeoFence Zones",
        "func": "msg.payload = { area : [],name : \"home\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 660,
        "wires": [
            [
                "aab6c974.cf31b8"
            ]
        ]
    },
    {
        "id": "44d69fbe.b013c",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "Show Environmental Threshold Pins",
        "group": "fa317294.23814",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 280,
        "y": 720,
        "wires": [
            [
                "a06d6775.1e5f08"
            ]
        ]
    },
    {
        "id": "a06d6775.1e5f08",
        "type": "switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "51c9b0e7.4ec46"
            ],
            [
                "dee6a236.7eb7e"
            ]
        ]
    },
    {
        "id": "33c2f455.9fbfec",
        "type": "link out",
        "z": "2dd6df4d.6de8e",
        "name": "GeoFence Out",
        "links": [
            "7b19f5cc.b267fc"
        ],
        "x": 865,
        "y": 720,
        "wires": []
    },
    {
        "id": "57006a71.5ef8a4",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "SMS Alert when in GeoFence",
        "group": "fa317294.23814",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "6d7cb644.c304d8"
            ]
        ]
    },
    {
        "id": "fdb11e67.fb2d9",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Medical Supplies have exceeded environment threshold",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 835,
        "wires": [
            [
                "63c67971.4297a8"
            ]
        ]
    },
    {
        "id": "113e5264.79e06e",
        "type": "ui_switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "label": "SMS Alert on Extreme Temp",
        "group": "fa317294.23814",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-thermometer-full",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 835,
        "wires": [
            [
                "93b67aef.758b18"
            ]
        ]
    },
    {
        "id": "5c71f3c3.7def1c",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Asset has arrived at destination",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "63c67971.4297a8"
            ]
        ]
    },
    {
        "id": "6d7cb644.c304d8",
        "type": "switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "5c71f3c3.7def1c"
            ]
        ]
    },
    {
        "id": "93b67aef.758b18",
        "type": "switch",
        "z": "2dd6df4d.6de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 500,
        "y": 835,
        "wires": [
            [
                "fdb11e67.fb2d9"
            ]
        ]
    },
    {
        "id": "287607fa.7dff28",
        "type": "inject",
        "z": "8e5ff6a3.20dcc8",
        "name": "Tick every sec",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": ".5",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "44eaf37c.50224c"
            ]
        ]
    },
    {
        "id": "33891537.1cd1ca",
        "type": "switch",
        "z": "8e5ff6a3.20dcc8",
        "name": "Enable/Disable Map updates",
        "property": "start-stop",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "6cdc4cde.ded574"
            ]
        ]
    },
    {
        "id": "44eaf37c.50224c",
        "type": "switch",
        "z": "8e5ff6a3.20dcc8",
        "name": "Tick Asset History Tracker",
        "property": "db-loaded",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "7668a289.64547c"
            ],
            [
                "33891537.1cd1ca",
                "45611388.a8b11c"
            ]
        ]
    },
    {
        "id": "3e99368.2d76dca",
        "type": "debug",
        "z": "8e5ff6a3.20dcc8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "6cdc4cde.ded574",
        "type": "function",
        "z": "8e5ff6a3.20dcc8",
        "name": "Sort records",
        "func": "var WhichKit=global.get(\"KitNum\");\n// Make certain that an Asset Kit has been selected from the drop down\nif (typeof WhichKit == 'undefined') {\n    return null;\n}\n\nvar AssetHistory = global.get(\"AssetHistory\");\nvar AssetTagLocations = [];\nvar starttime = global.get(\"start-time\");\nvar endtime = global.get(\"end-time\");\n\nif( AssetHistory.length === 0 ) { return null ; }\n\nfor(i = 0; i < AssetHistory.length; i++ ) {\n    if( AssetHistory[i].AssetID == WhichKit ) {\n        // Filter on the selected timestamp range\n        if( (AssetHistory[i].timestamp > starttime) && (AssetHistory[i].timestamp < endtime)) {\n            AssetTagLocations.push(AssetHistory[i]);  // Onion GPS timestamp has 10 digit precision\n        }\n    }\n}\n\n// Sort by timestamp\nAssetTagLocations.sort(function(x,y) {\n    return x.timestamp - y.timestamp;\n});\n\n// Query the counter, or 0 the first loop through...\nvar current_location = global.get(\"location\")||0;\ncurrent_location+=1;\nif( current_location == AssetTagLocations.length) {\n    current_location = 0;\n}\nglobal.set(\"location\",current_location);\n\n//msg.payload = AssetTagLocations[current_location].gps;\n//msg.payload.timestamp = AssetTagLocations[current_location].timestamp;\nmsg.payload = AssetTagLocations[current_location];\nreturn msg ;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "3e99368.2d76dca",
                "a31c5604.70e018",
                "73a546b.d23a0b8"
            ]
        ]
    },
    {
        "id": "3f4e31c6.96058e",
        "type": "worldmap",
        "z": "8e5ff6a3.20dcc8",
        "name": "Update Asset Location on Map",
        "lat": "40.973359599999995",
        "lon": "-74.09271869999999",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "0",
        "maxage": "",
        "usermenu": "show",
        "panit": "true",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a1b6b0c.fcd704",
        "type": "comment",
        "z": "8e5ff6a3.20dcc8",
        "name": "Find Location Records for a particular asset / date range",
        "info": "",
        "x": 280,
        "y": 380,
        "wires": []
    },
    {
        "id": "45611388.a8b11c",
        "type": "switch",
        "z": "8e5ff6a3.20dcc8",
        "name": "Zoom to last location",
        "property": "zoom",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "46158e9a.66187"
            ]
        ]
    },
    {
        "id": "46158e9a.66187",
        "type": "function",
        "z": "8e5ff6a3.20dcc8",
        "name": "Zoom to last location",
        "func": "if ( global.get(\"ZoomedAlready\")) {\n    return null;\n}\n\nvar WhichKit=global.get(\"KitNum\");\n// No Asset Kit has been selected\nif (typeof WhichKit == 'undefined') {\n    return null;\n}\n\nvar AssetHistory = global.get(\"AssetHistory\");\n// find the last recorded timestamp for an Asset\nvar lastRecord= {lat:0, lon:0, timestamp:0};\nfor(i = 0; i < AssetHistory.length; i++ ) {\n    if( AssetHistory[i].AssetID == WhichKit ) {\n        if( lastRecord.timestamp < AssetHistory[i].timestamp ) {\n            lastRecord.timestamp = AssetHistory[i].timestamp ;\n            lastRecord.lat = AssetHistory[i].gps.lat;\n            lastRecord.lon = AssetHistory[i].gps.lon;\n        }\n    }\n}\n\n// Move Map icon to its last reported location \nvar home = {\n    name       : \"Particle Electron\", \n    AssetTag   : global.get(\"KitNum\"),\n    lat        : lastRecord.lat,\n    lon        : lastRecord.lon,\n    icon       : \"hostile\",  //\"briefcase\" // from http://fontawesome.io/icons/\n    iconColor  : \"blue\",\n//    LastSeen   : new Date(lastRecord.timestamp),   // Cloudant\n    LastSeen   : lastRecord.timestamp,               // Blockchain\n    AssetOwner : \"John Walicki\",\n    // Recenter and zoom to the last location of this AssetTag\n    command    : { zoom:18, addtoheatmap:true, autopan:true }\n};\nmsg.payload = home;\n\nmsg.loop = 0;  \nglobal.set(\"ZoomedAlready\", true);\nreturn msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 140,
        "wires": [
            [
                "e9d62fcb.53459"
            ]
        ]
    },
    {
        "id": "e9d62fcb.53459",
        "type": "delay",
        "z": "8e5ff6a3.20dcc8",
        "name": "Zoom Slowly",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "c47565bb.940bf8"
            ]
        ]
    },
    {
        "id": "891fc9c8.bbea18",
        "type": "debug",
        "z": "8e5ff6a3.20dcc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1110,
        "y": 220,
        "wires": []
    },
    {
        "id": "a31c5604.70e018",
        "type": "link out",
        "z": "8e5ff6a3.20dcc8",
        "name": "",
        "links": [
            "cbe0f29c.272cf"
        ],
        "x": 555,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b19f5cc.b267fc",
        "type": "link in",
        "z": "8e5ff6a3.20dcc8",
        "name": "GeoFence In",
        "links": [
            "f0297295.998688",
            "7922936a.e4605c",
            "aab6c974.cf31b8",
            "33c2f455.9fbfec"
        ],
        "x": 935,
        "y": 260,
        "wires": [
            [
                "3f4e31c6.96058e"
            ]
        ]
    },
    {
        "id": "73a546b.d23a0b8",
        "type": "function",
        "z": "8e5ff6a3.20dcc8",
        "name": "Move Asset",
        "func": "if( typeof msg.payload.gps == 'undefined' ) {\n    return null;\n}\n\n// Track AssetTag around a Map\n// Set all of the common attributes\nvar asset = {\n        name       : \"Particle Electron\", \n        AssetTag   : global.get(\"KitNum\"),\n        lat        : msg.payload.gps.lat,\n        lon        : msg.payload.gps.lon,\n        icon       : \"fa-medkit\",\n        iconColor  : \"blue\",\n        LastSeen   : new Date(msg.payload.timestamp),\n        AssetOwner : \"John Walicki\",\n        // Recenter and zoom if there is a new AssetTag selected\n        command    : { zoom:10, autopan:true }\n    };\n    \n// Is this a Temperature record \nif( typeof msg.payload.temperature != 'undefined' ) {\n    asset.temperature = msg.payload.temperature ;\n    // Look for the max temp and flash the medkit RED\n    if (  msg.payload.temperature > 10 ) {\n        asset.iconColor = \"red\";\n    }\n}\n\n// Is this a Accelerometer record\nif( typeof msg.payload.accel != 'undefined' ) {\n    // The Particle Electron has its own threshold filter\n    // Max vibration has been triggered\n    // Flash the medkit RED\n    asset.vibration = \"X:\"+msg.payload.accel.acc_x +\" Y:\"+msg.payload.accel.acc_y+\" Z:\"+msg.payload.accel.acc_z;\n    asset.iconColor = \"red\";\n}\n\nmsg.payload = asset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "3f4e31c6.96058e",
                "f4aed1b2.696df",
                "c5ff4691.ec0198"
            ]
        ]
    },
    {
        "id": "c47565bb.940bf8",
        "type": "function",
        "z": "8e5ff6a3.20dcc8",
        "name": "Zoom In",
        "func": "zoomlevel = 10 + msg.loop;\n\n// Recenter and zoom to the last location of this AssetTag\nmsg.payload.command.zoom = zoomlevel;\n\nif( msg.loop < 10 ) {\n    msg.loop = msg.loop + 1;\n\treturn [msg,msg];\n} else {\n\treturn [msg,null];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "3f4e31c6.96058e",
                "891fc9c8.bbea18"
            ],
            [
                "e9d62fcb.53459"
            ]
        ]
    },
    {
        "id": "f4aed1b2.696df",
        "type": "function",
        "z": "8e5ff6a3.20dcc8",
        "name": "Extreme Environmental Pins",
        "func": "var ShowEnvironmentalPins = global.get(\"ShowEnvironmentalPins\") || false;\nif( ShowEnvironmentalPins === false ) {\n    return null;\n}\n\nvar d = new Date(msg.payload.timestamp);\n\nif( typeof msg.payload.temperature != 'undefined' ) {\n    // Look for the max temp and flash the medkit RED\n    if (  msg.payload.temperature > 10 ) {\n        var count = context.get('count') || 0;\n        count += 1;\n        context.set('count',count);\n        msg.payload = { \n                name        : \"Medical Supplies exposed to extreme temp #\"+count,\n                AssetTag    : global.get(\"KitNum\"),\n                lat         : msg.payload.lat,\n                lon         : msg.payload.lon,\n                icon        : \"fa-thermometer-full\",\n                temperature : msg.payload.temperature,\n                iconColor   : \"red\",\n                layer       : \"threshold\",\n                EventOccurence : d,\n                AssetOwner  : \"John Walicki\",\n                command     : { zoom : 13, autopan : true }\n            };\n        return msg;\n    }\n}\n\nif( typeof msg.payload.vibration != 'undefined') {\n    var vcount = context.get('vcount') || 0;\n    vcount += 1;\n    context.set('vcount',vcount);\n    msg.payload = { \n            name        : \"Medical Supplies exposed to extreme vibrations #\"+vcount,\n            AssetTag    : global.get(\"KitNum\"),\n            lat         : msg.payload.lat,\n            lon         : msg.payload.lon,\n            icon        : \"fa-bullseye\",\n            vibration   : msg.payload.vibration,\n            iconColor   : \"red\",\n            layer       : \"threshold\",\n            EventOccurence : d,\n            AssetOwner  : \"John Walicki\",\n            command     : { zoom : 13, autopan : true }\n        };\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "3f4e31c6.96058e",
                "a796be78.9257c"
            ]
        ]
    },
    {
        "id": "7668a289.64547c",
        "type": "link out",
        "z": "8e5ff6a3.20dcc8",
        "name": "Track Assets",
        "links": [
            "dd709aaa.8146b8"
        ],
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5ff4691.ec0198",
        "type": "debug",
        "z": "8e5ff6a3.20dcc8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "a796be78.9257c",
        "type": "debug",
        "z": "8e5ff6a3.20dcc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "a1100987.1c2b58",
        "type": "delay",
        "z": "550ae82c.b9d568",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1439.7142639160156,
        "y": 307.4285697937012,
        "wires": [
            [
                "dd1e2a31.232fe8"
            ]
        ]
    },
    {
        "id": "7313c90c.da3298",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "47246823.deb218"
            ]
        ]
    },
    {
        "id": "f9b0fdad.f78c5",
        "type": "change",
        "z": "fd95b1ac.1aa93",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "df11db7f.faff68"
            ]
        ]
    },
    {
        "id": "557a1029.2351d",
        "type": "change",
        "z": "8c68d5d2.c51308",
        "name": "Build a TemperatureReading Transaction",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "b266664.7aa4e98"
            ]
        ]
    },
    {
        "id": "b266664.7aa4e98",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain GET TemperatureReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}/api/TemperatureReading",
        "tls": "",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "86adde7b.f38f4",
                "dd56e660.ef6148"
            ]
        ]
    },
    {
        "id": "a208f7e5.3f5a48",
        "type": "change",
        "z": "8c68d5d2.c51308",
        "name": "Build a AccelReading Transaction",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "8ecc27f3.9b0d58"
            ]
        ]
    },
    {
        "id": "8ecc27f3.9b0d58",
        "type": "http request",
        "z": "8c68d5d2.c51308",
        "name": "Blockchain GET AccelReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}/api/AccelReading",
        "tls": "",
        "x": 810,
        "y": 660,
        "wires": [
            [
                "b12d5ff6.14ab3"
            ]
        ]
    },
    {
        "id": "51c9b0e7.4ec46",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Draw Alert Pins",
        "rules": [
            {
                "t": "set",
                "p": "ShowEnvironmentalPins",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 705,
        "wires": [
            [
                "33c2f455.9fbfec"
            ]
        ]
    },
    {
        "id": "dee6a236.7eb7e",
        "type": "change",
        "z": "2dd6df4d.6de8e",
        "name": "Erase Alert Pins",
        "rules": [
            {
                "t": "set",
                "p": "ShowEnvironmentalPins",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"command\" : { \"clear\":\"threshold\" } }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "33c2f455.9fbfec"
            ]
        ]
    },
    {
        "id": "ab62f836.7b56f8",
        "type": "ParticleFunc out",
        "z": "d65ccd2e.05639",
        "baseurl": "80c9102a.f29b8",
        "devid": "45002c001947373333353132",
        "fname": "GetCurrTemp",
        "param": "",
        "once": false,
        "repeat": 0,
        "consolelog": true,
        "x": 580,
        "y": 1155,
        "wires": [
            [
                "1039bd7e.986a13"
            ]
        ]
    },
    {
        "id": "1039bd7e.986a13",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 1155,
        "wires": []
    },
    {
        "id": "564e1667.51b738",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "GetCurrTemp using a ParticleFunc node",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1155,
        "wires": [
            [
                "ab62f836.7b56f8"
            ]
        ]
    },
    {
        "id": "8105ec7e.a9c17",
        "type": "inject",
        "z": "75de4850.c108d8",
        "name": "ReInitialize every time Node-RED is deployed",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "2ac50d8b.93e162"
            ]
        ]
    },
    {
        "id": "86485b44.f01a78",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Reset the map data array on every Node-RED deploy",
        "info": "",
        "x": 250,
        "y": 280,
        "wires": []
    },
    {
        "id": "4b82df73.b70c3",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "READ this comment - How to configure this set of flows",
        "info": "1. Hopefully you're here because you're following the README at\nhttps://github.com/johnwalicki/IoT-AssetTracking-Perishable-Network-Blockchain\n\n2. If you have already configured your Hyperledger Fabric\nyou know the public IP address to the Composer REST API\nHint - run this command:\n  $ bx cs workers blockchain\n\n  You need to insert the HyperLedger Fabric IP address \n    - On this flow, open the Change node below and set the HyperLedgerFabricIP\n    \n3. On this Init Perishable Blockchain Demo flow\n    - For the demo / workshop, copy the Particle Device ID and Particle Access Token\n      into the change node",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "39224923.473ad6",
        "type": "inject",
        "z": "75de4850.c108d8",
        "name": "Manual - One Time Only initialization of Blockchain Network Demo",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "686677f9.69a3a8"
            ]
        ]
    },
    {
        "id": "2ee10675.66e8fa",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Only initialize the Blockchain Shipment Demo once!",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "1d7252ac.c0b33d",
        "type": "link out",
        "z": "75de4850.c108d8",
        "name": "Start One Time Only Init of Blockchain Demo ",
        "links": [
            "b201816a.0018e"
        ],
        "x": 875,
        "y": 140,
        "wires": []
    },
    {
        "id": "b201816a.0018e",
        "type": "link in",
        "z": "8c68d5d2.c51308",
        "name": "One Time Only Init of Blockchain Demo",
        "links": [
            "1d7252ac.c0b33d"
        ],
        "x": 175,
        "y": 100,
        "wires": [
            [
                "c5bb9659.963a38"
            ]
        ]
    },
    {
        "id": "39600d51.bf1ea2",
        "type": "link in",
        "z": "fd95b1ac.1aa93",
        "name": "Re-Read the Asset Database into Tracking Array",
        "links": [
            "326a9fad.394de"
        ],
        "x": 235,
        "y": 100,
        "wires": [
            [
                "1f7e183.750f9e8"
            ]
        ]
    },
    {
        "id": "326a9fad.394de",
        "type": "link out",
        "z": "75de4850.c108d8",
        "name": "Init Tracker #1",
        "links": [
            "39600d51.bf1ea2",
            "454f681b.b94a08",
            "36187581.1fcbfa",
            "5782694b.7d7f78",
            "acb07848.f82168",
            "d0f3506.7931fb"
        ],
        "x": 735,
        "y": 320,
        "wires": []
    },
    {
        "id": "5782694b.7d7f78",
        "type": "link in",
        "z": "2dd6df4d.6de8e",
        "name": "Init Dashboard",
        "links": [
            "326a9fad.394de"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "7e1384d2.aa988c",
                "fd5fde4d.a6893",
                "b6773f0f.ac58a",
                "8c0112ff.63a8c"
            ]
        ]
    },
    {
        "id": "e2d9e882.f36e28",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Reload the Geolocation transaction history from the Blockchain",
        "info": "",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "bea86393.dae3a",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Initialize the Asset Tracking Map Dashboard",
        "info": "",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "686677f9.69a3a8",
        "type": "change",
        "z": "75de4850.c108d8",
        "name": "Set HyperLedgerFabricIP",
        "rules": [
            {
                "t": "set",
                "p": "HyperLedgerFabricIP",
                "pt": "global",
                "to": "<your Hyperledger Fabric Public IP>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "1d7252ac.c0b33d"
            ]
        ]
    },
    {
        "id": "f2adc18f.2fe1c",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Set Particle Electron vars",
        "rules": [
            {
                "t": "set",
                "p": "ParticleElectron",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "msg",
                "to": "ParticleAccessToken",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "acfdd361.828a6"
            ]
        ]
    },
    {
        "id": "62f9e652.43d048",
        "type": "change",
        "z": "550ae82c.b9d568",
        "name": "Particle Electron to Monitor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "devid",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 499.7142639160156,
        "y": 127.42856979370117,
        "wires": [
            [
                "796b4fa4.fda89",
                "353bd0bb.5feb2",
                "1a6d75d6.3c05fa"
            ]
        ]
    },
    {
        "id": "36187581.1fcbfa",
        "type": "link in",
        "z": "550ae82c.b9d568",
        "name": "Init Particle Receiver",
        "links": [
            "326a9fad.394de",
            "9dc7247.449a7d8"
        ],
        "x": 294.7142639160156,
        "y": 127.42856979370117,
        "wires": [
            [
                "62f9e652.43d048"
            ]
        ]
    },
    {
        "id": "dc2bc9ea.27c508",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Select the Particle Electron to monitor",
        "info": "",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "9dc7247.449a7d8",
        "type": "link out",
        "z": "d65ccd2e.05639",
        "name": "Select a Particle",
        "links": [
            "36187581.1fcbfa",
            "acb07848.f82168",
            "d0f3506.7931fb"
        ],
        "x": 575,
        "y": 200,
        "wires": []
    },
    {
        "id": "a016c329.a0793",
        "type": "function",
        "z": "d65ccd2e.05639",
        "name": "Load Dropdown",
        "func": "// msg.options should be an array of [\"label\":\"value\"] pairs\nmsg.options = [ {\"Electron 3G #1\":global.get(\"ParticleDeviceID\") },\n                {\"Electron 2G #2\":\"32\"}\n              ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 175,
        "y": 180,
        "wires": [
            [
                "b2a9a8d.a0fd058"
            ]
        ]
    },
    {
        "id": "454f681b.b94a08",
        "type": "link in",
        "z": "d65ccd2e.05639",
        "name": "",
        "links": [
            "326a9fad.394de"
        ],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "a016c329.a0793"
            ]
        ]
    },
    {
        "id": "a53029f7.356698",
        "type": "comment",
        "z": "75de4850.c108d8",
        "name": "Initialize the Particle Electron to monitor",
        "info": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ac50d8b.93e162",
        "type": "change",
        "z": "75de4850.c108d8",
        "name": "Particle Electron to Monitor",
        "rules": [
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "global",
                "to": "45002c001947373333353132",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "global",
                "to": "5896a56d425077dd27a3c26ac4bae2509634b4ed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "HyperLedgerFabricIP",
                "pt": "global",
                "to": "composer-rest-server-iot-asset-tracker-network.mybluemix.net",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "326a9fad.394de"
            ]
        ]
    },
    {
        "id": "d0f3506.7931fb",
        "type": "link in",
        "z": "550ae82c.b9d568",
        "name": "Init Particle Receiver",
        "links": [
            "326a9fad.394de",
            "9dc7247.449a7d8"
        ],
        "x": 294.7142639160156,
        "y": 587.4285697937012,
        "wires": [
            [
                "3716a531.00690a"
            ]
        ]
    },
    {
        "id": "3716a531.00690a",
        "type": "change",
        "z": "550ae82c.b9d568",
        "name": "Particle Electron to Monitor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "evtname",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"hook-response/deviceLocator/\"& msg.ParticleDeviceID & \"/0\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 459.7142639160156,
        "y": 587.4285697937012,
        "wires": [
            [
                "bc81ad2e.02ef6"
            ]
        ]
    },
    {
        "id": "a680bcf1.5b665",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Prep Particle.io URL",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "msg",
                "to": "ParticleAccessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215,
        "y": 700,
        "wires": [
            [
                "893a757c.67d2c8",
                "68097c5a.fa88d4"
            ]
        ]
    },
    {
        "id": "1cf156c5.789099",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Prep Particle.io URL",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "msg",
                "to": "ParticleAccessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215,
        "y": 540,
        "wires": [
            [
                "f34f332b.025aa",
                "8f5e9ce9.e7b01"
            ]
        ]
    },
    {
        "id": "811c9b59.a53648",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Prep Particle.io URL",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "msg",
                "to": "ParticleAccessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 980,
        "wires": [
            [
                "a702a53f.af6c88",
                "86cb1ee2.d1713"
            ]
        ]
    },
    {
        "id": "8a445622.ae0068",
        "type": "change",
        "z": "d65ccd2e.05639",
        "name": "Prep Particle.io URL",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ParticleDeviceID",
                "pt": "msg",
                "to": "ParticleDeviceID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ParticleAccessToken",
                "pt": "msg",
                "to": "ParticleAccessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 815,
        "wires": [
            [
                "3c9d9c92.529744",
                "f6d6dc31.2ddf8"
            ]
        ]
    },
    {
        "id": "7f1d444f.f60dcc",
        "type": "ParticleFunc out",
        "z": "d65ccd2e.05639",
        "baseurl": "80c9102a.f29b8",
        "devid": "45002c001947373333353132",
        "fname": "GetRecentXYZ",
        "param": "",
        "once": false,
        "repeat": 0,
        "consolelog": true,
        "x": 590,
        "y": 1200,
        "wires": [
            [
                "5edc8f26.388c1"
            ]
        ]
    },
    {
        "id": "5edc8f26.388c1",
        "type": "debug",
        "z": "d65ccd2e.05639",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ba92f3d2.ddd02",
        "type": "inject",
        "z": "d65ccd2e.05639",
        "name": "GetRecentXYZ using a ParticleFunc node",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 1200,
        "wires": [
            [
                "7f1d444f.f60dcc"
            ]
        ]
    },
    {
        "id": "c5bb9659.963a38",
        "type": "change",
        "z": "8c68d5d2.c51308",
        "name": "Begin Perishable Shipment Demo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"$class\":\"org.acme.shipping.perishable.SetupDemo\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 385,
        "y": 100,
        "wires": [
            [
                "dc75df42.e4ca5",
                "5835de89.3d80c"
            ]
        ]
    },
    {
        "id": "99c97ae0.575af8",
        "type": "comment",
        "z": "d65ccd2e.05639",
        "name": "Not used - another / less accurate technique to query the Particle Electron",
        "info": "",
        "x": 290,
        "y": 1115,
        "wires": []
    },
    {
        "id": "1c24d187.23bffe",
        "type": "comment",
        "z": "550ae82c.b9d568",
        "name": "Unused but useful to see Device Locator events arrive",
        "info": "",
        "x": 1109.7142639160156,
        "y": 687.4285697937012,
        "wires": []
    },
    {
        "id": "81da6a44.04f3d8",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Load Medical Supply Truck Route data ",
        "info": "Since IBM won't fly me to Puerto Rico to drive\na truck around with a Particle Board, I'll fake \nsome data.\n\nUse https://onthegomap.com/#/create to create three truck routes through Puerto Rico\nExport the GPX data into local files so I have the latitude/longitude geo-coordinates of the 3 routes\nExtract the lat/lon from the .gpx files - see below for the grep/cut\nTruck Route #1 is safe and travels on repaired highways\nTruck Route #2 takes the scenic shore route along the coast but is delayed and breaks down - refrigerated medical supplies overheat and are exposed to high temperatures.\nTruck Route #3 takes the mountainous route across Puerto Rico and hits many potholes and winding turns. Vibration damage to the medical supply crates\n\nThis real NY Times article has a map of the Cat5 Hurricane Maria destruction path\n    https://www.nytimes.com/interactive/2017/09/18/world/americas/hurricane-maria-tracking-map.html",
        "x": 165,
        "y": 24,
        "wires": []
    },
    {
        "id": "547556bc.ed1278",
        "type": "csv",
        "z": "b1b79c30.9b02a",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "lat,lon,timestamp",
        "x": 385,
        "y": 124,
        "wires": [
            [
                "7c3b6ff4.10632",
                "1e7a9598.c5f35a"
            ]
        ]
    },
    {
        "id": "e31acfe1.d791b",
        "type": "template",
        "z": "b1b79c30.9b02a",
        "name": "lat,lon,timestamp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "18.44081,-66.08068,1506009600000\n18.4407,-66.08066,1506009633506\n18.44068,-66.08056,1506009667012\n18.44075,-66.08048,1506009700518\n18.44096,-66.08041,1506009734024\n18.44231,-66.07729,1506009767530\n18.44151,-66.07404,1506009801036\n18.43819,-66.07246,1506009834542\n18.43214,-66.0744,1506009868048\n18.42868,-66.07512,1506009901554\n18.42595,-66.07329,1506009935060\n18.41985,-66.07091,1506009968566\n18.41096,-66.0701,1506010002072\n18.4059,-66.06997,1506010035578\n18.39935,-66.07111,1506010069084\n18.38967,-66.07228,1506010102590\n18.38423,-66.07194,1506010136096\n18.37765,-66.07193,1506010169602\n18.37373,-66.07056,1506010203108\n18.35907,-66.07045,1506010236614\n18.35116,-66.07059,1506010270120\n18.34451,-66.06952,1506010303626\n18.33666,-66.0646 ,1506010337132\n18.32775,-66.0534 ,1506010370638\n18.32351,-66.04178,1506010404144\n18.31584,-66.03376,1506010437650\n18.30913,-66.03449,1506010471156\n18.3012,-66.04201 ,1506010504662\n18.29232,-66.04439,1506010538168\n18.2881,-66.04004 ,1506010571674\n18.28245,-66.03521,1506010605180\n18.27754,-66.0355 ,1506010638686\n18.27301,-66.03844,1506010672192\n18.26934,-66.03964,1506010705698\n18.26597,-66.03785,1506010739204\n18.26122,-66.04092,1506010772710\n18.25208,-66.04274,1506010806216\n18.24192,-66.04236,1506010839722\n18.2366,-66.0424  ,1506010873228\n18.22944,-66.04453,1506010906734\n18.2214,-66.04698 ,1506010940240\n18.21472,-66.04865,1506010973746\n18.20863,-66.04813,1506011007252\n18.20197,-66.0515 ,1506011040758\n18.1951,-66.05479 ,1506011074264\n18.18853,-66.05745,1506011107770\n18.1871,-66.06001 ,1506011141276\n18.18727,-66.06279,1506011174782\n18.18759,-66.06546,1506011208288\n18.18536,-66.06612,1506011241794\n18.18711,-66.06867,1506011275300\n18.1869,-66.07046 ,1506011308806\n18.18514,-66.07004,1506011342312\n18.18463,-66.07017,1506011375818\n18.18623,-66.07333,1506011409324\n18.18635,-66.07763,1506011442830\n18.18597,-66.07944,1506011476336\n18.18546,-66.08158,1506011509842\n18.18428,-66.08579,1506011543348\n18.18233,-66.08859,1506011576854\n18.17996,-66.09116,1506011610360\n18.17802,-66.08876,1506011643866\n18.17393,-66.09184,1506011677372\n18.17258,-66.09322,1506011710878\n18.16963,-66.0943 ,1506011744384\n18.16742,-66.09801,1506011777890\n18.16132,-66.09757,1506011811396\n18.15951,-66.0978 ,1506011844902\n18.15614,-66.09967,1506011878408\n18.15282,-66.10327,1506011911914\n18.1439,-66.10599 ,1506011945420\n18.13152,-66.11592,1506011978926\n18.12067,-66.12687,1506012012432\n18.11333,-66.13898,1506012045938\n18.11215,-66.14313,1506012079444\n18.11333,-66.14883,1506012112950\n18.11189,-66.1514 ,1506012146456\n18.10679,-66.15871,1506012179962\n18.10392,-66.16274,1506012213468\n18.10162,-66.16499,1506012246974\n18.1006,-66.16732 ,1506012280480\n18.09967,-66.16932,1506012313986\n18.09822,-66.17167,1506012347492\n18.09628,-66.17309,1506012380998\n18.09351,-66.17409,1506012414504\n18.0921,-66.1771  ,1506012448010\n18.09351,-66.1832 ,1506012481516\n18.09582,-66.18565,1506012515022\n18.09608,-66.18937,1506012548528\n18.09532,-66.19234,1506012582034\n18.09481,-66.19578,1506012615540\n18.09263,-66.19755,1506012649046\n18.08993,-66.19769,1506012682552\n18.08702,-66.19724,1506012716058\n18.08514,-66.1985 ,1506012749564\n18.08217,-66.20062,1506012783070\n18.07841,-66.20247,1506012816576\n18.07694,-66.20509,1506012850082\n18.07523,-66.21102,1506012883588\n18.07234,-66.2148 ,1506012917094\n18.07105,-66.21799,1506012950600\n18.06992,-66.21871,1506012984106\n18.06728,-66.21902,1506013017612\n18.06493,-66.21992,1506013051118\n18.06406,-66.22102,1506013084624\n18.0626,-66.22242 ,1506013118130\n18.05807,-66.22287,1506013151636\n18.05542,-66.22015,1506013185142\n18.05247,-66.21788,1506013218648\n18.04993,-66.21325,1506013252154\n18.04749,-66.21167,1506013285660\n18.04528,-66.21247,1506013319166\n18.04366,-66.21466,1506013352672\n18.04165,-66.21873,1506013386178\n18.04058,-66.22177,1506013419684\n18.04259,-66.22506,1506013453190\n18.04812,-66.23516,1506013486696\n18.04798,-66.23857,1506013520202\n18.04514,-66.24074,1506013553708\n18.03792,-66.23993,1506013587214\n18.03025,-66.23943,1506013620720\n18.01681,-66.24408,1506013654226\n18.0044,-66.24776,1506013687732\n17.99637,-66.25342,1506013721238\n17.99202,-66.26689,1506013754744\n17.98663,-66.28803,1506013788250\n17.98851,-66.29628,1506013821756\n17.99444,-66.30285,1506013855262\n17.99737,-66.31495,1506013888768\n18.00317,-66.33209,1506013922274\n18.00965,-66.34523,1506013955780\n18.01388,-66.37128,1506013989286\n18.01142,-66.38433,1506014022792\n18.01439,-66.39291,1506014056298\n18.02108,-66.40477,1506014089804\n18.02833,-66.42093,1506014123310\n18.03155,-66.4295,1506014156816\n18.03135,-66.44691,1506014190322\n18.03388,-66.46694,1506014223828\n18.03328,-66.47193,1506014257334\n18.03374,-66.48676,1506014290840\n18.04041,-66.49285,1506014324346\n18.04369,-66.50956,1506014357852\n18.0453,-66.52723,1506014391358\n18.04043,-66.53482,1506014424864\n18.03723,-66.54446,1506014458370\n18.03598,-66.55147,1506014491876\n18.03292,-66.56049,1506014525382\n18.02599,-66.56939,1506014558888\n18.01861,-66.57879,1506014592394\n18.00729,-66.58169,1506014625900\n18.00612,-66.58359,1506014659406\n18.00597,-66.5912,1506014692912\n18.00515,-66.59587,1506014726418",
        "x": 265,
        "y": 84,
        "wires": [
            [
                "f2cc62d1.ecf68",
                "547556bc.ed1278"
            ]
        ]
    },
    {
        "id": "f2cc62d1.ecf68",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 545,
        "y": 84,
        "wires": []
    },
    {
        "id": "8ae7330b.b31ed",
        "type": "inject",
        "z": "b1b79c30.9b02a",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85,
        "y": 84,
        "wires": [
            [
                "e31acfe1.d791b"
            ]
        ]
    },
    {
        "id": "7c3b6ff4.10632",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 565,
        "y": 124,
        "wires": []
    },
    {
        "id": "1e7a9598.c5f35a",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "reformat #1",
        "func": "var d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\n\n\nmsg.payload = { \"AssetID\":\"34301\",\n                \"timestamp\": ts ,\n                \"Temperature\": {\"Celsius\":Math.floor(Math.round(Math.random()*8)+1) },\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 244,
        "wires": [
            [
                "8d54241f.3a8ef8",
                "3042ce9a.7ea4c2"
            ]
        ]
    },
    {
        "id": "8d54241f.3a8ef8",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 825,
        "y": 224,
        "wires": []
    },
    {
        "id": "f81fc13c.f1f06",
        "type": "cloudant out",
        "z": "b1b79c30.9b02a",
        "name": "",
        "cloudant": "d6d9bd86.3d55",
        "database": "puerto-rico-trucks",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1065,
        "y": 404,
        "wires": []
    },
    {
        "id": "3042ce9a.7ea4c2",
        "type": "delay",
        "z": "b1b79c30.9b02a",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 835,
        "y": 284,
        "wires": [
            [
                "93a9f486.5bcc38"
            ]
        ]
    },
    {
        "id": "572fc245.9be97c",
        "type": "csv",
        "z": "b1b79c30.9b02a",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "lat,lon,timestamp",
        "x": 385,
        "y": 324,
        "wires": [
            [
                "af5f4270.6e19e",
                "f5799b59.05ccc8"
            ]
        ]
    },
    {
        "id": "21441dec.ea7aa2",
        "type": "template",
        "z": "b1b79c30.9b02a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "lat,lon,timestamp\n18.44069,-66.08052,1506009600000\n18.44086,-66.08053,1506009674805\n18.44224,-66.07604,1506009749610\n18.43973,-66.06966,1506009824415\n18.43973,-66.07048,1506009899220\n18.44514,-66.06992,1506009974025\n18.4502,-66.06826 ,1506010048830\n18.44821,-66.06165,1506010123635\n18.44732,-66.05339,1506010198440\n18.4462,-66.03795 ,1506010273245\n18.44144,-66.02557,1506010348050\n18.43313,-66.01893,1506010422855\n18.43132,-66.00844,1506010497660\n18.42832,-65.99027,1506010572465\n18.40913,-65.98424,1506010647270\n18.39839,-65.98063,1506010722075\n18.39267,-65.97802,1506010796880\n18.38941,-65.97892,1506010871685\n18.38207,-65.97564,1506010946490\n18.37084,-65.97541,1506011021295\n18.36506,-65.95919,1506011096100\n18.36237,-65.93616,1506011170905\n18.36155,-65.92113,1506011245710\n18.35981,-65.90977,1506011320515\n18.35937,-65.89783,1506011395320\n18.36277,-65.88916,1506011470125\n18.37196,-65.8801 ,1506011544930\n18.36784,-65.85568,1506011619735\n18.3747,-65.82827 ,1506011694540\n18.37432,-65.81756,1506011769345\n18.37817,-65.79483,1506011844150\n18.37357,-65.78408,1506011918955\n18.37194,-65.77108,1506011993760\n18.37249,-65.76289,1506012068565\n18.37947,-65.74715,1506012143370\n18.38169,-65.73036,1506012218175\n18.37835,-65.72025,1506012292980\n18.36876,-65.71371,1506012367785\n18.35357,-65.69609,1506012442590\n18.35133,-65.68215,1506012517395\n18.34613,-65.67318,1506012592200\n18.3355,-65.66456 ,1506012667005\n18.32605,-65.65652,1506012741810\n18.31683,-65.65151,1506012816615\n18.30491,-65.64964,1506012891420\n18.28365,-65.64999,1506012966225\n18.27091,-65.65201,1506013041030\n18.27795,-65.65079,1506013115835\n18.29547,-65.64861,1506013190640\n18.29175,-65.64902,1506013265445\n18.27257,-65.65206,1506013340250\n18.26099,-65.65334,1506013415055\n18.24809,-65.65271,1506013489860\n18.23133,-65.66708,1506013564665\n18.22803,-65.68232,1506013639470\n18.21833,-65.6971 ,1506013714275\n18.21472,-65.71715,1506013789080\n18.2178,-65.73325 ,1506013863885\n18.21566,-65.74479,1506013938690\n18.21616,-65.76749,1506014013495\n18.2104,-65.77866 ,1506014088300\n18.18786,-65.79233,1506014163105\n18.17558,-65.80237,1506014237910\n18.15969,-65.79763,1506014312715\n18.14869,-65.80175,1506014387520\n18.13817,-65.80783,1506014462325\n18.12097,-65.82064,1506014537130\n18.1076,-65.81968 ,1506014611935\n18.0955,-65.82587 ,1506014686740\n18.08602,-65.83803,1506014761545\n18.07928,-65.83793,1506014836350\n18.06268,-65.84667,1506014911155\n18.04535,-65.84815,1506014985960\n18.03871,-65.84445,1506015060765\n18.03671,-65.83453,1506015135570\n18.03321,-65.8331 ,1506015210375\n18.02457,-65.83493,1506015285180\n18.02428,-65.84437,1506015359985\n18.02413,-65.85005,1506015434790\n18.01792,-65.85752,1506015509595\n18.01606,-65.86123,1506015584400\n18.01551,-65.86497,1506015659205\n18.01375,-65.86886,1506015734010\n18.00868,-65.87069,1506015808815\n18.00381,-65.87533,1506015883620\n18.00356,-65.88454,1506015958425\n18.00159,-65.88881,1506016033230\n18.0014,-65.89568 ,1506016108035\n18.00527,-65.89792,1506016182840\n18.0034,-65.90503 ,1506016257645\n17.98617,-65.90678,1506016332450\n17.98053,-65.91032,1506016407255\n17.97731,-65.91711,1506016482060\n17.97616,-65.91892,1506016556865\n17.97471,-65.93637,1506016631670\n17.97193,-65.95088,1506016706475\n17.97204,-65.96004,1506016781280\n17.97814,-65.96699,1506016856085\n17.98004,-65.9893 ,1506016930890\n17.97952,-65.99782,1506017005695\n17.97907,-66.00257,1506017080500\n17.97946,-66.004  ,1506017155305\n17.98224,-66.00319,1506017230110\n17.98471,-66.01141,1506017304915\n17.98305,-66.02271,1506017379720\n17.98156,-66.03199,1506017454525\n17.97686,-66.04244,1506017529330\n17.97324,-66.04878,1506017604135\n17.9746,-66.05661 ,1506017678940\n17.97523,-66.06252,1506017753745\n17.97683,-66.06572,1506017828550\n17.97809,-66.07033,1506017903355\n17.9795,-66.07529 ,1506017978160\n17.98082,-66.08459,1506018052965\n17.97237,-66.08646,1506018127770\n17.97257,-66.09245,1506018202575\n17.97302,-66.10279,1506018277380\n17.97591,-66.1203 ,1506018352185\n17.98093,-66.12691,1506018426990\n17.98738,-66.1264 ,1506018501795\n17.98912,-66.12877,1506018576600\n17.98864,-66.13362,1506018651405\n17.98882,-66.13933,1506018726210\n17.98654,-66.14398,1506018801015\n17.9865,-66.15395 ,1506018875820\n17.98926,-66.16287,1506018950625\n17.99121,-66.17372,1506019025430\n17.99025,-66.18382,1506019100235\n17.98854,-66.19764,1506019175040\n17.98888,-66.20865,1506019249845\n17.99324,-66.21659,1506019324650\n17.99527,-66.22584,1506019399455\n17.99906,-66.2358 ,1506019474260\n18.00445,-66.24228,1506019549065\n18.00463,-66.24761,1506019623870\n17.99246,-66.26522,1506019698675\n17.98665,-66.28958,1506019773480\n17.99438,-66.30277,1506019848285\n18.00145,-66.32288,1506019923090\n18.01207,-66.35774,1506019997895\n18.01133,-66.38394,1506020072700\n18.01552,-66.39796,1506020147505\n18.02835,-66.42142,1506020222310\n18.03232,-66.43981,1506020297115\n18.03386,-66.46874,1506020371920\n18.03427,-66.48722,1506020446725\n18.04291,-66.50559,1506020521530\n18.04443,-66.52961,1506020596335\n18.03723,-66.54446,1506020671140\n18.03444,-66.55869,1506020745945\n18.02312,-66.57497,1506020820750\n18.00749,-66.58148,1506020895555\n18.00571,-66.58484,1506020970360\n18.00434,-66.59602,1506021045165",
        "x": 225,
        "y": 284,
        "wires": [
            [
                "88e25282.849a6",
                "572fc245.9be97c"
            ]
        ]
    },
    {
        "id": "88e25282.849a6",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 405,
        "y": 284,
        "wires": []
    },
    {
        "id": "912eea59.8dfdd8",
        "type": "inject",
        "z": "b1b79c30.9b02a",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85,
        "y": 284,
        "wires": [
            [
                "21441dec.ea7aa2"
            ]
        ]
    },
    {
        "id": "af5f4270.6e19e",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 545,
        "y": 344,
        "wires": []
    },
    {
        "id": "cb07eb67.f897f8",
        "type": "csv",
        "z": "b1b79c30.9b02a",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "lat,lon,timestamp",
        "skip": 0,
        "x": 445,
        "y": 484,
        "wires": [
            [
                "bb38fdeb.56aab",
                "c972d03.0bd793"
            ]
        ]
    },
    {
        "id": "f6022ead.7d6ef",
        "type": "template",
        "z": "b1b79c30.9b02a",
        "name": "lat,lon,timestamp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "18.44069,-66.08052,1506009600000\n18.44084,-66.08051,1506009658013\n18.44234,-66.07704,1506009716026\n18.43905,-66.07253,1506009774039\n18.43239,-66.07441,1506009832052\n18.42271,-66.08102,1506009890065\n18.41822,-66.09351,1506009948078\n18.41731,-66.10381,1506010006091\n18.42012,-66.10943,1506010064104\n18.42273,-66.11727,1506010122117\n18.42276,-66.14077,1506010180130\n18.42265,-66.15092,1506010238143\n18.42122,-66.16091,1506010296156\n18.42024,-66.1675 ,1506010354169\n18.41884,-66.17801,1506010412182\n18.41961,-66.18674,1506010470195\n18.4198,-66.19363 ,1506010528208\n18.41833,-66.19992,1506010586221\n18.41534,-66.20749,1506010644234\n18.41286,-66.21488,1506010702247\n18.41171,-66.22311,1506010760260\n18.41334,-66.22854,1506010818273\n18.41796,-66.23446,1506010876286\n18.41821,-66.24079,1506010934299\n18.41816,-66.2487 ,1506010992312\n18.41947,-66.26562,1506011050325\n18.42459,-66.27518,1506011108338\n18.42569,-66.28687,1506011166351\n18.4261,-66.30015 ,1506011224364\n18.42278,-66.32026,1506011282377\n18.42825,-66.33254,1506011340390\n18.43183,-66.34221,1506011398403\n18.42856,-66.34905,1506011456416\n18.42745,-66.36675,1506011514429\n18.43047,-66.38064,1506011572442\n18.44018,-66.40036,1506011630455\n18.44186,-66.40999,1506011688468\n18.43878,-66.42482,1506011746481\n18.44061,-66.43634,1506011804494\n18.44631,-66.45212,1506011862507\n18.44108,-66.47127,1506011920520\n18.44241,-66.47919,1506011978533\n18.44227,-66.47781,1506012036546\n18.4347,-66.47637 ,1506012094559\n18.42501,-66.4748 ,1506012152572\n18.41773,-66.4823 ,1506012210585\n18.41198,-66.49049,1506012268598\n18.40312,-66.49209,1506012326611\n18.39527,-66.49102,1506012384624\n18.38438,-66.48386,1506012442637\n18.37299,-66.47819,1506012500650\n18.36088,-66.47206,1506012558663\n18.35597,-66.47058,1506012616676\n18.35316,-66.46702,1506012674689\n18.34699,-66.46646,1506012732702\n18.34207,-66.46766,1506012790715\n18.33527,-66.46534,1506012848728\n18.33163,-66.46849,1506012906741\n18.32997,-66.47012,1506012964754\n18.32868,-66.47105,1506013022767\n18.32898,-66.47163,1506013080780\n18.32809,-66.47259,1506013138793\n18.32762,-66.47405,1506013196806\n18.32705,-66.47488,1506013254819\n18.32501,-66.47442,1506013312832\n18.32415,-66.47619,1506013370845\n18.32236,-66.47476,1506013428858\n18.32029,-66.47361,1506013486871\n18.31727,-66.47252,1506013544884\n18.31087,-66.47476,1506013602897\n18.30731,-66.47542,1506013660910\n18.3005,-66.47718 ,1506013718923\n18.29852,-66.4772 ,1506013776936\n18.29722,-66.48004,1506013834949\n18.2982,-66.48488 ,1506013892962\n18.29691,-66.48735,1506013950975\n18.2919,-66.48935 ,1506014008988\n18.28728,-66.49015,1506014067001\n18.29028,-66.48306,1506014125014\n18.2874,-66.4806  ,1506014183027\n18.283,-66.47976  ,1506014241040\n18.27976,-66.48007,1506014299053\n18.27378,-66.4807 ,1506014357066\n18.26859,-66.48334,1506014415079\n18.26404,-66.48138,1506014473092\n18.26105,-66.47896,1506014531105\n18.25821,-66.47653,1506014589118\n18.25529,-66.47654,1506014647131\n18.25157,-66.47543,1506014705144\n18.24803,-66.47718,1506014763157\n18.24496,-66.47885,1506014821170\n18.23953,-66.47502,1506014879183\n18.23734,-66.47895,1506014937196\n18.23464,-66.48203,1506014995209\n18.23325,-66.48524,1506015053222\n18.22943,-66.48353,1506015111235\n18.22922,-66.48545,1506015169248\n18.22727,-66.48714,1506015227261\n18.22438,-66.48643,1506015285274\n18.22047,-66.48342,1506015343287\n18.2173,-66.48142 ,1506015401300\n18.21278,-66.48014,1506015459313\n18.20906,-66.48216,1506015517326\n18.20621,-66.48301,1506015575339\n18.20487,-66.48442,1506015633352\n18.20335,-66.48705,1506015691365\n18.20018,-66.48744,1506015749378\n18.20059,-66.48959,1506015807391\n18.19929,-66.49099,1506015865404\n18.19885,-66.49295,1506015923417\n18.1936,-66.49136 ,1506015981430\n18.19117,-66.48817,1506016039443\n18.18918,-66.48985,1506016097456\n18.1834,-66.48936 ,1506016155469\n18.17993,-66.49015,1506016213482\n18.1776,-66.4886  ,1506016271495\n18.17378,-66.4894 ,1506016329508\n18.17327,-66.49203,1506016387521\n18.17181,-66.49505,1506016445534\n18.1676,-66.50024 ,1506016503547\n18.16591,-66.50093,1506016561560\n18.16422,-66.49962,1506016619573\n18.16268,-66.49688,1506016677586\n18.15871,-66.49463,1506016735599\n18.15373,-66.49318,1506016793612\n18.14778,-66.49282,1506016851625\n18.13193,-66.48819,1506016909638\n18.13008,-66.49253,1506016967651\n18.12721,-66.49617,1506017025664\n18.12821,-66.49819,1506017083677\n18.12801,-66.49817,1506017141690\n18.1259,-66.49852 ,1506017199703\n18.11916,-66.50299,1506017257716\n18.10796,-66.50516,1506017315729\n18.09891,-66.50837,1506017373742\n18.08968,-66.5099 ,1506017431755\n18.08503,-66.50558,1506017489768\n18.07752,-66.49794,1506017547781\n18.07028,-66.50098,1506017605794\n18.06181,-66.5074 ,1506017663807\n18.05283,-66.50947,1506017721820\n18.0461,-66.50974 ,1506017779833\n18.04517,-66.51257,1506017837846\n18.04537,-66.52674,1506017895859\n18.03979,-66.53743,1506017953872\n18.03619,-66.54803,1506018011885\n18.02953,-66.56393,1506018069898\n18.02143,-66.57691,1506018127911\n18.00721,-66.58182,1506018185924\n18.0057,-66.58432 ,1506018243937\n18.00606,-66.59569,1506018301950",
        "x": 265,
        "y": 484,
        "wires": [
            [
                "2654b402.1241dc",
                "cb07eb67.f897f8"
            ]
        ]
    },
    {
        "id": "2654b402.1241dc",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 445,
        "y": 444,
        "wires": []
    },
    {
        "id": "f336fc82.39069",
        "type": "inject",
        "z": "b1b79c30.9b02a",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85,
        "y": 484,
        "wires": [
            [
                "f6022ead.7d6ef",
                "d7f18cb9.4bd39"
            ]
        ]
    },
    {
        "id": "bb38fdeb.56aab",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 625,
        "y": 444,
        "wires": []
    },
    {
        "id": "4bae08f5.ab4c38",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Truck 1",
        "info": "",
        "x": 65,
        "y": 124,
        "wires": []
    },
    {
        "id": "a15d541d.38fd88",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Truck 2",
        "info": "",
        "x": 65,
        "y": 324,
        "wires": []
    },
    {
        "id": "cca94108.c0ca",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Truck 3",
        "info": "",
        "x": 65,
        "y": 524,
        "wires": []
    },
    {
        "id": "b36f0b0a.8e27d8",
        "type": "ibmiot in",
        "z": "b1b79c30.9b02a",
        "authentication": "quickstart",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "24718906aa05",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "quickstart",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 85,
        "y": 724,
        "wires": [
            [
                "560c68e3.bdd2a8"
            ]
        ]
    },
    {
        "id": "560c68e3.bdd2a8",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 305,
        "y": 724,
        "wires": []
    },
    {
        "id": "5a60c376.0864cc",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "",
        "func": "var accel = {acc_x: msg.payload.d.acc_x, acc_y:msg.payload.d.acc_y, acc_z:msg.payload.d.acc_z};\n\nvar AssetTagVibration = global.get(\"AssetTagVibration\") || [];\nAssetTagVibration.push(accel);\nmsg.payload = AssetTagVibration;\nglobal.set(\"AssetTagVibration\", AssetTagVibration);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285,
        "y": 764,
        "wires": [
            [
                "67496017.b3e5b"
            ]
        ]
    },
    {
        "id": "af2ca936.1fe6f8",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Generate some accelerometer data from a SensorTag",
        "info": "",
        "x": 225,
        "y": 684,
        "wires": []
    },
    {
        "id": "67496017.b3e5b",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 485,
        "y": 764,
        "wires": []
    },
    {
        "id": "62abf5aa.3b7d8c",
        "type": "inject",
        "z": "b1b79c30.9b02a",
        "name": "reset accel data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135,
        "y": 844,
        "wires": [
            [
                "77904539.9079ac"
            ]
        ]
    },
    {
        "id": "77904539.9079ac",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "",
        "func": "var AssetTagVibration =  [];\n\nglobal.set(\"AssetTagVibration\", AssetTagVibration);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 305,
        "y": 844,
        "wires": [
            []
        ]
    },
    {
        "id": "c628a4f6.fead68",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "Add SensorTag Vibration data",
        "func": "var AssetTagVibration = global.get(\"AssetTagVibration\") || [];\nvar loop = flow.get(\"loop\") || 0;\n\nvar d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\n\n\n// There is one accel datapoint with high vibration.  Make it appear in the mountains.\n// I shook the SensorTag too soon\n// make the \nvar mountain = loop +90;\nif (mountain > 168 ) { mountain = mountain - 168; }\n\nif ( AssetTagVibration.length > 0 ) {\n\n    msg.payload = { \"AssetID\":\"34303\",\n                \"timestamp\": ts ,\n                \"Temperature\": Math.floor(Math.round(Math.random()*8)+1),\n                \"Accel\":AssetTagVibration[mountain],\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n}\nloop+=1;\nflow.set(\"loop\",loop);\n//msg.payload = mountain;\nreturn msg;\n\nvar d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\n\n\nmsg.payload = { \"AssetID\":\"34302\",\n                \"timestamp\": ts ,\n                \"Temperature\": {\"Celsius\":Math.floor(Math.round(Math.random()*10)+1) },\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 705,
        "y": 484,
        "wires": [
            []
        ]
    },
    {
        "id": "5a2bc1e1.b336f",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 985,
        "y": 904,
        "wires": []
    },
    {
        "id": "cd66528e.95473",
        "type": "inject",
        "z": "b1b79c30.9b02a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115,
        "y": 904,
        "wires": [
            [
                "25a2d4ac.b1b52c"
            ]
        ]
    },
    {
        "id": "d7f18cb9.4bd39",
        "type": "change",
        "z": "b1b79c30.9b02a",
        "name": "Reset counter",
        "rules": [
            {
                "t": "set",
                "p": "loop",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 444,
        "wires": [
            []
        ]
    },
    {
        "id": "2c741fa.dd3fde",
        "type": "switch",
        "z": "b1b79c30.9b02a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 865,
        "y": 904,
        "wires": [
            [
                "5a2bc1e1.b336f"
            ]
        ]
    },
    {
        "id": "7bd9fd67.3cb544",
        "type": "split",
        "z": "b1b79c30.9b02a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 505,
        "y": 904,
        "wires": [
            [
                "6091617c.af119",
                "3c44c609.5a4dda"
            ]
        ]
    },
    {
        "id": "25a2d4ac.b1b52c",
        "type": "change",
        "z": "b1b79c30.9b02a",
        "name": "global.AssetTagVibration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AssetTagVibration",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 305,
        "y": 904,
        "wires": [
            [
                "7bd9fd67.3cb544",
                "a1a42c8e.44495"
            ]
        ]
    },
    {
        "id": "6091617c.af119",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "Look for max vibration",
        "func": "// There is one record that is {\"acc_x\":\"-1.15\",\"acc_y\":\"2.55\",\"acc_z\":\"5.09\"}\nvar AssetTagVibration = msg.payload;\nmsg.payload=false;\n    if (    Math.abs(parseFloat(AssetTagVibration.acc_x)) > 1 && \n            Math.abs(parseFloat(AssetTagVibration.acc_y)) > 1 && \n            Math.abs(parseFloat(AssetTagVibration.acc_z)) > 1 ) {\n        msg.payload = true;\n    }\n\n\nmsg.vibration = AssetTagVibration;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 904,
        "wires": [
            [
                "2c741fa.dd3fde"
            ]
        ]
    },
    {
        "id": "3c44c609.5a4dda",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 665,
        "y": 944,
        "wires": []
    },
    {
        "id": "fd68e8b0.3c6f48",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "Find Max Vibration GPS Coords",
        "func": "// There is one record that is {\"acc_x\":\"-1.15\",\"acc_y\":\"2.55\",\"acc_z\":\"5.09\"}\nvar AssetTagVibration = msg.payload.accel;\n\n    if (    Math.abs(parseFloat(AssetTagVibration.acc_x)) > 1 && \n            Math.abs(parseFloat(AssetTagVibration.acc_y)) > 1 && \n            Math.abs(parseFloat(AssetTagVibration.acc_z)) > 1 ) {\n        return msg;\n    }\n\n\nmsg.vibration = AssetTagVibration;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1025,
        "y": 504,
        "wires": [
            [
                "55e1b0c8.e3d22"
            ]
        ]
    },
    {
        "id": "55e1b0c8.e3d22",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1245,
        "y": 504,
        "wires": []
    },
    {
        "id": "a1a42c8e.44495",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 525,
        "y": 864,
        "wires": []
    },
    {
        "id": "7e83dd8b.b57c84",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Max Vibration in Mountains",
        "info": "Merge in the SensorTag vibration data but \nshift it around so that the max vibration \noccurs in the Puerto Rico mountains\nlat: \"18.22047\"\nlon: \"-66.48342\"",
        "x": 705,
        "y": 564,
        "wires": []
    },
    {
        "id": "93a9f486.5bcc38",
        "type": "link out",
        "z": "b1b79c30.9b02a",
        "name": "dwakeman",
        "links": [
            "a5fea92f.a7b778"
        ],
        "x": 990,
        "y": 364,
        "wires": []
    },
    {
        "id": "d5519f83.3e5c6",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "Add Particle Vibration data",
        "func": "var vibration = global.get(\"vibrations\") || [];\nvar loop = msg.parts.index;\n/*\nif( loop < 99 ) {\n    loop+=1;\n        flow.set(\"loop\",loop);\n    return [null,null];\n}\n*/\nvar d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\nmsg.payload = { \"AssetID\":\"34303\",\n                \"timestamp\": ts ,\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n\n// There are 9 records of heavy vibrations [0] to [8]\nif( loop > 99 && loop < 108){\n    // We're getting vibration[0].\n    //    \"accel_x\":-560\n    //    \"accel_y\":2128\n    //    \"accel_z\":14496\n    // It needs to look like this:\n    // \"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\n    msg.payload.Accel = {\"x\":vibration[loop - 100].accel_x,\n                         \"y\":vibration[loop - 100].accel_y,\n                         \"z\":vibration[loop - 100].accel_z };\n\n    loop+=1;\n    flow.set(\"loop\",loop);\n    return [null,msg];\n} else {\n    msg.payload.Temperature= {\"Celsius\":Math.floor(Math.round(Math.random()*8)+1) };\n    loop+=1;\n    flow.set(\"loop\",loop);\n    return [msg,null];\n}\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 695,
        "y": 524,
        "wires": [
            [
                "ca26d0dc.096a5",
                "93a9f486.5bcc38"
            ],
            [
                "1ceae962.a179b7",
                "4c6a4883.cddc48"
            ]
        ]
    },
    {
        "id": "ca26d0dc.096a5",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "Write Temp Transactions",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1005,
        "y": 464,
        "wires": []
    },
    {
        "id": "97c1f555.d8b6d8",
        "type": "delay",
        "z": "b1b79c30.9b02a",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 435,
        "y": 544,
        "wires": [
            [
                "d5519f83.3e5c6"
            ]
        ]
    },
    {
        "id": "1ceae962.a179b7",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "Write Accel Transactions",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1005,
        "y": 544,
        "wires": []
    },
    {
        "id": "4c6a4883.cddc48",
        "type": "link out",
        "z": "b1b79c30.9b02a",
        "name": "dwakeman",
        "links": [
            "62d45b94.b2efe4"
        ],
        "x": 910,
        "y": 584,
        "wires": []
    },
    {
        "id": "f5799b59.05ccc8",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "reformat #2",
        "func": "var d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\n\n\nmsg.payload = { \"AssetID\":\"34302\",\n                \"timestamp\": ts ,\n                \"Temperature\": {\"Celsius\":Math.floor(Math.round(Math.random()*11)+1) },\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 304,
        "wires": [
            [
                "3042ce9a.7ea4c2",
                "fd2799ab.9132a8"
            ]
        ]
    },
    {
        "id": "fd2799ab.9132a8",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 825,
        "y": 344,
        "wires": []
    },
    {
        "id": "b561ecd5.351dc",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Write TemperatureReading",
        "info": "",
        "x": 1085,
        "y": 324,
        "wires": []
    },
    {
        "id": "d531dc53.0e143",
        "type": "comment",
        "z": "b1b79c30.9b02a",
        "name": "Write AccelReading",
        "info": "",
        "x": 985,
        "y": 624,
        "wires": []
    },
    {
        "id": "c972d03.0bd793",
        "type": "function",
        "z": "b1b79c30.9b02a",
        "name": "",
        "func": "if( msg.parts.index <  98 ) return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 255,
        "y": 544,
        "wires": [
            [
                "8f4d5e79.7db02",
                "97c1f555.d8b6d8"
            ]
        ]
    },
    {
        "id": "8f4d5e79.7db02",
        "type": "debug",
        "z": "b1b79c30.9b02a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 296,
        "y": 605,
        "wires": []
    },
    {
        "id": "668f6c46.f6f2c4",
        "type": "cloudant out",
        "z": "550ae82c.b9d568",
        "name": "",
        "cloudant": "d6d9bd86.3d55",
        "database": "location",
        "service": "Cloudant-Particle-DW",
        "payonly": false,
        "operation": "insert",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "63c67971.4297a8",
        "type": "debug",
        "z": "2dd6df4d.6de8e",
        "name": "SMS Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 894.5,
        "y": 817,
        "wires": []
    }
]