IoT/Detect IoT Anomolies/Instructor_db2NodeREDFlow.json
[{"id":"766c7495.a79cbc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c4b2f630.e61848","type":"dashDB out","z":"766c7495.a79cbc","dashDB":"","service":"Db2 Warehouse-prf2f","table":"IOTLAB","name":"","x":619,"y":99,"wires":[]},{"id":"7e14bb82.660e74","type":"function","z":"766c7495.a79cbc","name":"Convert Format","func":"var mydata = { \n \"VOLTAGE\" : msg.payload.voltage,\n \"ZSCORE\" : msg.payload.zscore,\n \"TIME\" : msg.payload.time\n \n}\nmsg.payload = mydata;\nreturn msg;","outputs":1,"noerr":0,"x":450.5,"y":79,"wires":[["c4b2f630.e61848","4f631f5.5e17de"]]},{"id":"4f631f5.5e17de","type":"debug","z":"766c7495.a79cbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605.5,"y":157,"wires":[]},{"id":"bc50f39f.2ad8e","type":"ibmiot in","z":"766c7495.a79cbc","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Sensor01","applicationId":"","deviceType":"VoltageSensor","eventType":"voltage","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":168,"y":140,"wires":[["7e14bb82.660e74","b203a396.b9818"]]},{"id":"b203a396.b9818","type":"debug","z":"766c7495.a79cbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":257,"wires":[]}]