Blockchain/Blockchain_IOT_Analytics/IoT_Blockchain_NodeREDFlow.json
[{"id":"7263c23c.c6b754","type":"tab","label":"Init","disabled":false,"info":""},{"id":"f254a9b8.6e9ab","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"fcfd4480.3fd198","type":"tab","label":"Incoming IoT Events","disabled":false,"info":""},{"id":"f8fcab15.02ecf8","type":"tab","label":"Blockchain REST API","disabled":false,"info":""},{"id":"f02367db.e18158","type":"tab","label":"Shipments UI","disabled":false,"info":""},{"id":"8012a698.419558","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DB2"},{"id":"9c377203.05977","type":"inject","z":"f254a9b8.6e9ab","name":"Send Test Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210.5,"y":201,"wires":[["58e55122.387b38"]]},{"id":"58e55122.387b38","type":"function","z":"f254a9b8.6e9ab","name":"Format Event","func":"/*\n{\"AssetID\":\"DaveShipment4\",\"timestamp\":\"2017-09-21T16:7:49Z\",\"Temperature\":{\"Celsius\":7},\"gps\":{\"lat\":\"18.39935\",\"lon\":\"-66.07111\"}}\n\n\n{\"AssetID\":\"DaveShipment4\",\"timestamp\":\"2017-09-21T16:7:49Z\",\"Temperature\":{\"Celsius\":7},\"gps\":{\"lat\":\"18.39935\",\"lon\":\"-66.07111\"}}\n*/\n\nvar assetId = global.get(\"ShipmentId\");\n\nmsg.payload = {\n    \"AssetID\":assetId,\n    \"timestamp\":\"2017-09-21T16:7:49Z\",\n    \"Temperature\":{\n        \"Celsius\":7\n    },\n    \"gps\":{\n        \"lat\":\"18.39935\",\n        \"lon\":\"-66.07111\"\n    }\n}\n\n\n\nmsg.deviceId = assetId;\nreturn msg;","outputs":1,"noerr":0,"x":406.5,"y":201,"wires":[["ba34fd8b.beb628","b1e8758d.c7b4d8"]]},{"id":"ba34fd8b.beb628","type":"ibmiot out","z":"f254a9b8.6e9ab","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"1","deviceType":"TemperatureSensor","eventCommandType":"AssetTrackerTemperatureEvent","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1154.5,"y":202,"wires":[]},{"id":"b1e8758d.c7b4d8","type":"debug","z":"f254a9b8.6e9ab","name":"Sim Electron Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":120,"wires":[]},{"id":"9189eacd.38d77","type":"template","z":"f254a9b8.6e9ab","name":"lat,lon,timestamp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"18.44081,-66.08068,1506009600000\n18.4407,-66.08066,1506009633506\n18.44068,-66.08056,1506009667012\n18.44075,-66.08048,1506009700518\n18.44096,-66.08041,1506009734024\n18.44231,-66.07729,1506009767530\n18.44151,-66.07404,1506009801036\n18.43819,-66.07246,1506009834542\n18.43214,-66.0744,1506009868048\n18.42868,-66.07512,1506009901554\n18.42595,-66.07329,1506009935060\n18.41985,-66.07091,1506009968566\n18.41096,-66.0701,1506010002072\n18.4059,-66.06997,1506010035578\n18.39935,-66.07111,1506010069084\n18.38967,-66.07228,1506010102590\n18.38423,-66.07194,1506010136096\n18.37765,-66.07193,1506010169602\n18.37373,-66.07056,1506010203108\n18.35907,-66.07045,1506010236614\n18.35116,-66.07059,1506010270120\n18.34451,-66.06952,1506010303626\n18.33666,-66.0646 ,1506010337132\n18.32775,-66.0534 ,1506010370638\n18.32351,-66.04178,1506010404144\n18.31584,-66.03376,1506010437650\n18.30913,-66.03449,1506010471156\n18.3012,-66.04201 ,1506010504662\n18.29232,-66.04439,1506010538168\n18.2881,-66.04004 ,1506010571674\n18.28245,-66.03521,1506010605180\n18.27754,-66.0355 ,1506010638686\n18.27301,-66.03844,1506010672192\n18.26934,-66.03964,1506010705698\n18.26597,-66.03785,1506010739204\n18.26122,-66.04092,1506010772710\n18.25208,-66.04274,1506010806216\n18.24192,-66.04236,1506010839722\n18.2366,-66.0424  ,1506010873228\n18.22944,-66.04453,1506010906734\n18.2214,-66.04698 ,1506010940240\n18.21472,-66.04865,1506010973746\n18.20863,-66.04813,1506011007252\n18.20197,-66.0515 ,1506011040758\n18.1951,-66.05479 ,1506011074264\n18.18853,-66.05745,1506011107770\n18.1871,-66.06001 ,1506011141276\n18.18727,-66.06279,1506011174782\n18.18759,-66.06546,1506011208288\n18.18536,-66.06612,1506011241794\n18.18711,-66.06867,1506011275300\n18.1869,-66.07046 ,1506011308806\n18.18514,-66.07004,1506011342312\n18.18463,-66.07017,1506011375818\n18.18623,-66.07333,1506011409324\n18.18635,-66.07763,1506011442830\n18.18597,-66.07944,1506011476336\n18.18546,-66.08158,1506011509842\n18.18428,-66.08579,1506011543348\n18.18233,-66.08859,1506011576854\n18.17996,-66.09116,1506011610360\n18.17802,-66.08876,1506011643866\n18.17393,-66.09184,1506011677372\n18.17258,-66.09322,1506011710878\n18.16963,-66.0943 ,1506011744384\n18.16742,-66.09801,1506011777890\n18.16132,-66.09757,1506011811396\n18.15951,-66.0978 ,1506011844902\n18.15614,-66.09967,1506011878408\n18.15282,-66.10327,1506011911914\n18.1439,-66.10599 ,1506011945420\n18.13152,-66.11592,1506011978926\n18.12067,-66.12687,1506012012432\n18.11333,-66.13898,1506012045938\n18.11215,-66.14313,1506012079444\n18.11333,-66.14883,1506012112950\n18.11189,-66.1514 ,1506012146456\n18.10679,-66.15871,1506012179962\n18.10392,-66.16274,1506012213468\n18.10162,-66.16499,1506012246974\n18.1006,-66.16732 ,1506012280480\n18.09967,-66.16932,1506012313986\n18.09822,-66.17167,1506012347492\n18.09628,-66.17309,1506012380998\n18.09351,-66.17409,1506012414504\n18.0921,-66.1771  ,1506012448010\n18.09351,-66.1832 ,1506012481516\n18.09582,-66.18565,1506012515022\n18.09608,-66.18937,1506012548528\n18.09532,-66.19234,1506012582034\n18.09481,-66.19578,1506012615540\n18.09263,-66.19755,1506012649046\n18.08993,-66.19769,1506012682552\n18.08702,-66.19724,1506012716058\n18.08514,-66.1985 ,1506012749564\n18.08217,-66.20062,1506012783070\n18.07841,-66.20247,1506012816576\n18.07694,-66.20509,1506012850082\n18.07523,-66.21102,1506012883588\n18.07234,-66.2148 ,1506012917094\n18.07105,-66.21799,1506012950600\n18.06992,-66.21871,1506012984106\n18.06728,-66.21902,1506013017612\n18.06493,-66.21992,1506013051118\n18.06406,-66.22102,1506013084624\n18.0626,-66.22242 ,1506013118130\n18.05807,-66.22287,1506013151636\n18.05542,-66.22015,1506013185142\n18.05247,-66.21788,1506013218648\n18.04993,-66.21325,1506013252154\n18.04749,-66.21167,1506013285660\n18.04528,-66.21247,1506013319166\n18.04366,-66.21466,1506013352672\n18.04165,-66.21873,1506013386178\n18.04058,-66.22177,1506013419684\n18.04259,-66.22506,1506013453190\n18.04812,-66.23516,1506013486696\n18.04798,-66.23857,1506013520202\n18.04514,-66.24074,1506013553708\n18.03792,-66.23993,1506013587214\n18.03025,-66.23943,1506013620720\n18.01681,-66.24408,1506013654226\n18.0044,-66.24776,1506013687732\n17.99637,-66.25342,1506013721238\n17.99202,-66.26689,1506013754744\n17.98663,-66.28803,1506013788250\n17.98851,-66.29628,1506013821756\n17.99444,-66.30285,1506013855262\n17.99737,-66.31495,1506013888768\n18.00317,-66.33209,1506013922274\n18.00965,-66.34523,1506013955780\n18.01388,-66.37128,1506013989286\n18.01142,-66.38433,1506014022792\n18.01439,-66.39291,1506014056298\n18.02108,-66.40477,1506014089804\n18.02833,-66.42093,1506014123310\n18.03155,-66.4295,1506014156816\n18.03135,-66.44691,1506014190322\n18.03388,-66.46694,1506014223828\n18.03328,-66.47193,1506014257334\n18.03374,-66.48676,1506014290840\n18.04041,-66.49285,1506014324346\n18.04369,-66.50956,1506014357852\n18.0453,-66.52723,1506014391358\n18.04043,-66.53482,1506014424864\n18.03723,-66.54446,1506014458370\n18.03598,-66.55147,1506014491876\n18.03292,-66.56049,1506014525382\n18.02599,-66.56939,1506014558888\n18.01861,-66.57879,1506014592394\n18.00729,-66.58169,1506014625900\n18.00612,-66.58359,1506014659406\n18.00597,-66.5912,1506014692912\n18.00515,-66.59587,1506014726418","output":"str","x":458.5,"y":339,"wires":[["4acf52.df8ac8b"]]},{"id":"b6157b58.4b0618","type":"inject","z":"f254a9b8.6e9ab","name":"Start Sending Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":229.5,"y":339,"wires":[["9189eacd.38d77"]]},{"id":"8a2dc150.841988","type":"debug","z":"f254a9b8.6e9ab","name":"Msg to IoT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":320,"wires":[]},{"id":"4acf52.df8ac8b","type":"csv","z":"f254a9b8.6e9ab","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon,timestamp","skip":"0","x":626.5,"y":339,"wires":[["a7732422.0c332"]]},{"id":"1c6eec4d.9c2ebc","type":"delay","z":"f254a9b8.6e9ab","name":"1 msg/30 sec","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":938.5,"y":339,"wires":[["8a2dc150.841988","ba34fd8b.beb628"]]},{"id":"ac9f0c71.f9b2a","type":"comment","z":"f254a9b8.6e9ab","name":"Simulate Electron device events ","info":"","x":216.5,"y":297,"wires":[]},{"id":"a7732422.0c332","type":"function","z":"f254a9b8.6e9ab","name":"Reformat","func":"var d = new Date(msg.payload.timestamp);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"-\" + (\"0\" + d.getHours()).slice(-2) + \".\" + (\"0\" + d.getMinutes()).slice(-2) + \".\" + (\"0\" + d.getSeconds()).slice(-2);\n//var ts = ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2) + '-' + d.getFullYear() + \"T\" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"00\" + d.getSeconds()).slice(-3) + \"Z\";\n\n// The device Id should set to Shipment ID that was created in Blockchain\nvar DeviceId = global.get(\"ShipmentId\");\nmsg.deviceId = DeviceId;\nmsg.payload = { \"AssetID\":DeviceId,\n                \"timestamp\": ts ,\n                \"Temperature\": {\"Celsius\":Math.floor(Math.round(Math.random()*8)+1) },\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n\nreturn msg;","outputs":1,"noerr":0,"x":766.5,"y":339,"wires":[["1c6eec4d.9c2ebc"]]},{"id":"2f39f814.b81a58","type":"comment","z":"f8fcab15.02ecf8","name":"Create a TemperatureReading Transaction","info":"","x":310,"y":96,"wires":[]},{"id":"9735f70e.1772c","type":"inject","z":"f8fcab15.02ecf8","name":"Sample Temp Data","topic":"","payload":"{\"AssetID\":\"37003d000f47373333353132\",\"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:06:41.178Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":203,"y":179,"wires":[["7ec46bf3.461e9c"]]},{"id":"7ec46bf3.461e9c","type":"function","z":"f8fcab15.02ecf8","name":"Build a TemperatureReading Transaction","func":"// A TemperatureReading Blockchain transaction looks like this:\n//      {\n//      \"$class\": \"org.acme.shipping.perishable.TemperatureReading\",\n//      \"celsius\": 0,\n//      \"latitude\": \"string\",\n//      \"longitude\": \"string\",\n//      \"readingTime\": \"string\",\n//      \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//      }\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent which looks like this:\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n\nmsg.payload = {\n  \"$class\"     : \"org.acme.shipping.perishable.TemperatureReading\",\n  \"celsius\"    : msg.payload.Temperature.Celsius,\n  \"readingTime\": msg.payload.timestamp,\n  \"latitude\"   : msg.payload.gps.lat.toString(),\n  \"longitude\"  : msg.payload.gps.lon.toString(),\n  \"shipment\"   : \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nTempReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/TemperatureReading?data=\"+TempReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":139,"wires":[["a33bdcd.f585a2","6ee4c2c5.11c0fc"]]},{"id":"6ee4c2c5.11c0fc","type":"http request","z":"f8fcab15.02ecf8","name":"Blockchain POST TemperatureReading","method":"POST","ret":"obj","url":"","tls":"","x":823,"y":139,"wires":[["3daa02f0.d4c726"]]},{"id":"a33bdcd.f585a2","type":"debug","z":"f8fcab15.02ecf8","name":"","active":true,"console":"false","complete":"false","x":743,"y":99,"wires":[]},{"id":"3daa02f0.d4c726","type":"debug","z":"f8fcab15.02ecf8","name":"","active":true,"console":"false","complete":"false","x":1093,"y":139,"wires":[]},{"id":"d86b07d5.834888","type":"link in","z":"f8fcab15.02ecf8","name":"New TempeatureReading","links":["328eae91.ddbdca","b15c717d.75c89","724c42c6.6475d4","d7b3c8c0.318468","57699e62.9a2bd8","93a9f486.5bcc38","b1739d9e.abbda"],"x":168,"y":139,"wires":[["7ec46bf3.461e9c"]]},{"id":"327785a1.89f492","type":"comment","z":"f8fcab15.02ecf8","name":"Query the list of TemperatureReading Transactions","info":"","x":342,"y":220,"wires":[]},{"id":"46e4c6da.4b04a8","type":"inject","z":"f8fcab15.02ecf8","name":"Query Temp Transactions","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":183,"y":299,"wires":[["772f50c4.21c248"]]},{"id":"c3d6f313.c8c938","type":"debug","z":"f8fcab15.02ecf8","name":"","active":true,"console":"false","complete":"false","x":1093,"y":259,"wires":[]},{"id":"a997e59f.5d64f8","type":"link in","z":"f8fcab15.02ecf8","name":"Query Blockchain Temp Transactions","links":["2fd969a1.7b1516"],"x":168,"y":259,"wires":[["772f50c4.21c248"]]},{"id":"6cf3925c.10fc7c","type":"link out","z":"f8fcab15.02ecf8","name":"Return Blockchain Transactions","links":["b6d918be.ae353"],"x":1178,"y":299,"wires":[]},{"id":"ae9535c1.8f5a8","type":"function","z":"f8fcab15.02ecf8","name":"Refactor","func":"// We want the table to contain this info:\n//  { \"AssetID\":\"<Particle Device ID>\",\n//    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n//    \"timestamp\":1518116923270,\n//    \"temperature\":4}\n//\n\n// The Blockchain has this info\n// {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n//  \"Accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n//  \"celsius\": 22.625\n//  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n//  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n//  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#<Particle Device ID>\",\n//  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n//  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n// Refactor the Blockchain data into a Array\nvar TrackerArray = [];\nvar transaction = {};\nvar AssetID;\nfor(i=0 ; i < msg.payload.length ;i++) {\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"temperature\":msg.payload[i].celsius\n    };\n    TrackerArray.push(transaction);\n}\nmsg.payload = TrackerArray;\nreturn msg;","outputs":1,"noerr":0,"x":1083,"y":299,"wires":[["6cf3925c.10fc7c"]]},{"id":"772f50c4.21c248","type":"change","z":"f8fcab15.02ecf8","name":"Build a TemperatureReading Transaction","rules":[{"t":"set","p":"FabricIP","pt":"msg","to":"HyperLedgerFabricIP","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":493,"y":259,"wires":[["e5eb7ec6.b0507"]]},{"id":"e5eb7ec6.b0507","type":"http request","z":"f8fcab15.02ecf8","name":"Blockchain GET TemperatureReading","method":"GET","ret":"obj","url":"http://{{FabricIP}}/api/TemperatureReading","tls":"","x":823,"y":259,"wires":[["c3d6f313.c8c938","ae9535c1.8f5a8"]]},{"id":"ddc782a.4917b","type":"inject","z":"7263c23c.c6b754","name":"Set Blockchain REST API hostname at startup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":275,"y":171,"wires":[["5c674ab0.f910c4"]]},{"id":"82540e6b.181b4","type":"comment","z":"7263c23c.c6b754","name":"Sets the hostname of the Blockchain REST API when this application starts or gets redeployed","info":"","x":424,"y":131,"wires":[]},{"id":"5c674ab0.f910c4","type":"change","z":"7263c23c.c6b754","name":"Set Device Id","rules":[{"t":"set","p":"HyperLedgerFabricIP","pt":"global","to":"<Enter Blockchain URL>","tot":"str"},{"t":"set","p":"ShipmentId","pt":"global","to":"<Enter Your Device ID>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":171,"wires":[["5aa705df.8b8e74"]]},{"id":"f1d70e2d.064828","type":"debug","z":"7263c23c.c6b754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1257.5,"y":171,"wires":[]},{"id":"5aa705df.8b8e74","type":"function","z":"7263c23c.c6b754","name":"get HyperLedgerFabricIP","func":"var FabricIP=global.get(\"HyperLedgerFabricIP\");\nvar ShipmentId = global.get(\"ShipmentId\");\nvar payload = {\n    \"fabricIp\": FabricIP,\n    \"shipmentId\": ShipmentId\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":996.5,"y":171,"wires":[["f1d70e2d.064828","7ac11492.734c94"]]},{"id":"5eddcedf.3251a","type":"function","z":"f8fcab15.02ecf8","name":"Build a Shipment Asset","func":"// A TemperatureReading Blockchain transaction looks like this:\n//{\n//  \"$class\": \"org.acme.shipping.perishable.Shipment\",\n//  \"shipmentId\": \"string\",\n//  \"type\": \"BANANAS\",\n//  \"status\": \"CREATED\",\n//  \"unitCount\": 0,\n//  \"contract\": \"resource:org.acme.shipping.perishable.Contract#CON_002\",\n//  \"temperatureReadings\": [],\n//  \"AccelReadings\": [],\n//  \"gpsReadings\": []\n//}\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\nvar ShipmentId = global.get(\"ShipmentId\");\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent which looks like this:\n//   {\"AssetID\":\"<Particle Device ID>\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n\nmsg.payload = {\n  \"$class\"     : \"org.acme.shipping.perishable.Shipment\",\n  \"shipmentId\" : ShipmentId,\n  \"type\"       : \"MEDICINE\",\n  \"status\"     : \"CREATED\",\n  \"unitCount\"  : 100,\n  \"contract\"   : \"resource:org.acme.shipping.perishable.Contract#CON_002\",\n  \"temperatureReadings\": [],\n  \"AccelReadings\": [],\n  \"gpsReadings\": []\n};\n//TempReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/Shipment\";\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":375.5,"y":701,"wires":[["e797728e.f8a69","6bb125af.cf25c4"]]},{"id":"d6418d4f.7e7cf","type":"link in","z":"f8fcab15.02ecf8","name":"Create a Shipment","links":["2ac6e5dd.50615a","c6a4efbe.3c9db"],"x":161.5,"y":701,"wires":[["5eddcedf.3251a"]]},{"id":"e797728e.f8a69","type":"debug","z":"f8fcab15.02ecf8","name":"CreateShipment","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":734.5,"y":744,"wires":[]},{"id":"2ac6e5dd.50615a","type":"link out","z":"7263c23c.c6b754","name":"","links":["d6418d4f.7e7cf"],"x":1269.5,"y":348,"wires":[]},{"id":"6bb125af.cf25c4","type":"http request","z":"f8fcab15.02ecf8","name":"Blockchain POST Shipment","method":"POST","ret":"obj","url":"","tls":"","x":774.5,"y":700,"wires":[["7e3533e2.a647f4"]]},{"id":"7e3533e2.a647f4","type":"debug","z":"f8fcab15.02ecf8","name":"Create Shipment HTTP Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1124.5,"y":700,"wires":[]},{"id":"3afa15cf.95919a","type":"http request","z":"7263c23c.c6b754","name":"Retrieve Shipment","method":"GET","ret":"obj","url":"http://{{FabricIP}}/api/Shipment/{{ShipmentId}}","tls":"","x":754.5,"y":342,"wires":[["17dd3325.47b7d5"]]},{"id":"aeb5a301.638948","type":"debug","z":"7263c23c.c6b754","name":"Existing Shipment","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1340.5,"y":298,"wires":[]},{"id":"6d255a6d.d9adc4","type":"switch","z":"7263c23c.c6b754","name":"","property":"shipmentExists","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1158.5,"y":342,"wires":[["aeb5a301.638948"],["2ac6e5dd.50615a"]]},{"id":"3f92526f.598696","type":"comment","z":"7263c23c.c6b754","name":"If 404 then Shipment does not yet exist in Blockchain","info":"","x":895.5,"y":297,"wires":[]},{"id":"17dd3325.47b7d5","type":"function","z":"7263c23c.c6b754","name":"Shipment Exists?","func":"var shipmentExists = false;\n\nif (msg.payload.shipmentId) {\n    shipmentExists = true;\n}\n\nmsg.shipmentExists = shipmentExists;\nreturn msg;","outputs":1,"noerr":0,"x":974.5,"y":342,"wires":[["b1b13639.f903f","6d255a6d.d9adc4"]]},{"id":"b1b13639.f903f","type":"debug","z":"7263c23c.c6b754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1158.5,"y":387,"wires":[]},{"id":"29821f14.27f5f","type":"change","z":"7263c23c.c6b754","name":"Set Msg variables","rules":[{"t":"set","p":"FabricIP","pt":"msg","to":"HyperLedgerFabricIP","tot":"global"},{"t":"set","p":"ShipmentId","pt":"msg","to":"ShipmentId","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":535.5,"y":342,"wires":[["3afa15cf.95919a"]]},{"id":"91154583.89dcf","type":"ibmiot in","z":"fcfd4480.3fd198","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":194.5,"y":364,"wires":[["25da1bd.b92aa64","b1739d9e.abbda","2f0cd51e.a5a74a"]]},{"id":"25da1bd.b92aa64","type":"debug","z":"fcfd4480.3fd198","name":"Shipment Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":260,"wires":[]},{"id":"b1739d9e.abbda","type":"link out","z":"fcfd4480.3fd198","name":"","links":["d86b07d5.834888"],"x":386.5,"y":416,"wires":[]},{"id":"8f73978b.827cc8","type":"comment","z":"f8fcab15.02ecf8","name":"Create a new Shipment","info":"","x":241.5,"y":663,"wires":[]},{"id":"2f0cd51e.a5a74a","type":"function","z":"fcfd4480.3fd198","name":"Format Sensor Data","func":"/*\n{\n\t\"AssetID\": \"DaveShipment4\",\n\t\"timestamp\": \"2017-09-21T16:0:33Z\",\n\t\"Temperature\": {\n\t\t\"Celsius\": 7\n\t},\n\t\"gps\": {\n\t\t\"lat\": \"18.4407\",\n\t\t\"lon\": \"-66.08066\"\n\t}\n}\n*/\n\n\nvar inMsg = msg.payload;\n\nvar myData =\n    {\n    \"SHIPMENTID\": inMsg.AssetID,\n    \"TEMPERATURE\": inMsg.Temperature.Celsius,\n    \"LATITUDE\": inMsg.gps.lat,\n    \"LONGITUDE\": inMsg.gps.lon,\n    \"READINGTIME\": inMsg.timestamp\n    \n    }\n\n\nmsg.payload = myData;\nreturn msg;","outputs":1,"noerr":0,"x":469.5,"y":364,"wires":[["e24ebc55.13632","78726a8.fdcaf94"]]},{"id":"e24ebc55.13632","type":"debug","z":"fcfd4480.3fd198","name":"Data to DB2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":768.5,"y":280,"wires":[]},{"id":"6a684f84.8bd0e","type":"comment","z":"f254a9b8.6e9ab","name":"Send a single event to IoT","info":"","x":195.5,"y":159,"wires":[]},{"id":"d0ca0e44.626a38","type":"inject","z":"7263c23c.c6b754","name":"Init Blockchain","topic":"","payload":"First you need to update the Shipment ID!!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":178.5,"y":348,"wires":[["28e30506.909a7a"]]},{"id":"28e30506.909a7a","type":"switch","z":"7263c23c.c6b754","name":"","property":"ShipmentId","propertyType":"global","rules":[{"t":"neq","v":"<<Your Device ID Goes Here>>","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":344.5,"y":348,"wires":[["29821f14.27f5f"],["79def3da.3912fc"]]},{"id":"79def3da.3912fc","type":"debug","z":"7263c23c.c6b754","name":"Error: First update Device ID!!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":573.5,"y":391,"wires":[]},{"id":"cec53a62.f48868","type":"comment","z":"7263c23c.c6b754","name":"Creates the shipment in Blockchain.  You only need to do this once.","info":"","x":338.5,"y":298,"wires":[]},{"id":"2bbd978b.be8fb8","type":"comment","z":"fcfd4480.3fd198","name":"Links to the New TemperatureReading link in Blockchain REST API","info":"","x":651.5,"y":416,"wires":[]},{"id":"90e28781.33b5c","type":"http request","z":"f02367db.e18158","name":"Retrieve Shipment","method":"GET","ret":"obj","url":"http://{{FabricIP}}/api/Shipment/{{ShipmentId}}","tls":"","x":755,"y":184,"wires":[["4c4ce8b6.361228"]]},{"id":"3afc2c5d.e86da4","type":"change","z":"f02367db.e18158","name":"Set Msg variables","rules":[{"t":"set","p":"FabricIP","pt":"msg","to":"HyperLedgerFabricIP","tot":"global"},{"t":"set","p":"ShipmentId","pt":"msg","to":"ShipmentId","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":536,"y":184,"wires":[["90e28781.33b5c"]]},{"id":"693888d8.1a9998","type":"switch","z":"f02367db.e18158","name":"","property":"ShipmentId","propertyType":"global","rules":[{"t":"neq","v":"<<Your Device ID Goes Here>>","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":349,"y":225,"wires":[["3afc2c5d.e86da4"],["5ab0dd0c.efc2bc","f416a104.43b088"]]},{"id":"5ab0dd0c.efc2bc","type":"debug","z":"f02367db.e18158","name":"Error: First update Device ID!!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":575,"y":279,"wires":[]},{"id":"9aacc4d1.8bc718","type":"comment","z":"f02367db.e18158","name":"Gets the shipment in Blockchain.","info":"","x":229,"y":140,"wires":[]},{"id":"c6919e7f.71f9c","type":"template","z":"f02367db.e18158","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n<h1>Temperature readings for shipment {{{ShipmentId}}} in Blockchain</h1>\n<table width=\"100%\">\n  <tr>\n    <th>Temperature</th>\n    <th>Reading Time</th>\n    <th>Latitude</th>\n    <th>Longitude</th>\n  </tr>\n  {{#payload.temperatureReadings}}\n  <tr>\n    <td>{{{celsius}}}</td>\n    <td>{{readingTime}}</td> \n    <td>{{latitude}}</td>\n    <td>{{longitude}}</td>\n  </tr>\n  {{/payload.temperatureReadings}}\n</table>","x":1090,"y":232,"wires":[["56084f54.edd44"]]},{"id":"56084f54.edd44","type":"http response","z":"f02367db.e18158","name":"","x":1241,"y":232,"wires":[]},{"id":"4c4ce8b6.361228","type":"template","z":"f02367db.e18158","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":939,"y":233,"wires":[["c6919e7f.71f9c"]]},{"id":"224ca499.025e6c","type":"http in","z":"f02367db.e18158","name":"","url":"/shipments","method":"get","upload":false,"swaggerDoc":"","x":180,"y":225,"wires":[["693888d8.1a9998"]]},{"id":"f416a104.43b088","type":"function","z":"f02367db.e18158","name":"Set Shipment ID to <<Not Set>>","func":"msg.ShipmentId = \"NOT SET\";\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":232,"wires":[["4c4ce8b6.361228"]]},{"id":"7ac11492.734c94","type":"link out","z":"7263c23c.c6b754","name":"","links":["73e50055.dd4d7"],"x":1169.5,"y":227,"wires":[]},{"id":"78726a8.fdcaf94","type":"dashDB out","z":"fcfd4480.3fd198","dashDB":"","service":"_ext_","table":"SHIPMENTS","name":"SHIPMENTS","x":750,"y":360,"wires":[]}]